{% extends "/utilisateur/register.html.twig" %}
{% block fos_user_content %}

<div>
            {% block hwi_oauth_content %}
            {% endblock hwi_oauth_content %}
        </div>
{% endblock %}