{% extends 'adminTemplate.html.twig' %}

{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ajout Stock </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('lignestock_index') }}">Liste Stock</a></li>
                        <li class="breadcrumb-item active">Ajout Stock</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire de stock </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(form) }}


                        <div class="card-body">
                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (form.qtestock) }}</label>
                                {{ form_widget(form.qtestock, {'attr' : {'class' : 'form-control',}}) }}

                            </div>


                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (form.idarticle,'Article') }}</label>


                                {{ form_widget(form.idarticle, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>

{#                            <div class="form-group">#}
{#                                <label for="exampleInputEmail1">{{ form_label (form.idinventaire,'Inventaire') }}</label>#}


{#                                {{ form_widget(form.idinventaire, {'attr' : {'class' : 'form-control select2'}}) }}#}

{#                            </div>#}





                            <div  class="form-group mb-0">
                                <div  class="custom-control custom-checkbox">
                                    {{ form_widget(form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                    <input  checked  disabled     type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Active</label>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row ">
                                <button type="submit" class="btn btn-primary">Ajouter</button>

                                {# don't render unrendered fields #}
                                {{ form_end(form) }}


                            </div>
                        </div>



                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}

