


{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Stock </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('lignestock_index') }}">Liste Stock</a></li>
                        <li class="breadcrumb-item active">Details Stock</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ lignestock.idlignestock }}</li>
                <li class="list-group-item"><strong>Qte:</strong> {{ lignestock.qtestock}}</li>
                <li class="list-group-item"><strong>Article:</strong> {{ lignestock.idarticle.designation }}</li>

                <li class="list-group-item"><strong>Inventaire:</strong> {{ lignestock.idinventaire.idinventaire }}</li>

                <li class="list-group-item"><strong>Active:</strong> {% if lignestock.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('lignestock_edit', { 'idlignestock': lignestock.idlignestock }) }}";
        };
    </script>
{% endblock %}
