{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Promotion </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('achat_index') }}">Liste Achat</a></li>
                        <li class="breadcrumb-item active">Details Achat</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ promotion.idpourcentage }}</li>
                <li class="list-group-item"><strong>Code:</strong> {{ promotion.code }}</li>
                <li class="list-group-item"><strong>Nom:</strong> {{ promotion.nom }}</li>
                <li class="list-group-item"><strong>Usage Max:</strong> {{ promotion.usagemax }}</li>
                <li class="list-group-item"><strong>Current Usage:</strong> {{ promotion.currentusage }}</li>
                <li class="list-group-item"><strong>Pourcentage:</strong> {{ promotion.pourcentage }}</li>
                <li class="list-group-item"><strong>Date-Debut:</strong> {% if promotion.datedebut %}{{ promotion.datedebut|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item"><strong>Date-Expiration:</strong> {% if promotion.dateexpiration %}{{ promotion.dateexpiration|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item"><strong>Societe:</strong> {{  promotion.idsociete.raisonsociale }}</li>
                <li class="list-group-item"><strong>Active:</strong> {% if promotion.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('promotion_edit', { 'idpourcentage': promotion.idpourcentage }) }}";
        };
    </script>
{% endblock %}

