{% extends 'adminTemplate.html.twig' %}

{% block body %}

<html>

<head>
    <style>
        .country {
            background-color: cornflowerblue;
            color: white;
            padding: 8px;
        }
    </style>
</head>

<body>

<h1 class="country">roleListe</h1>

    <table>
        <thead>
            <tr>
                <th>Idrole</th>
                <th>Nom</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('role_show', { 'idrole': role.idrole }) }}">{{ role.idrole }}</a></td>
                <td>{{ role.nom }}</td>
                <td>{% if role.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('role_show', { 'idrole': role.idrole }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('role_edit', { 'idrole': role.idrole }) }}" >edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_new') }}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Create a new role</span></a>
        </li>
    </ul>
{% endblock %}
