{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Role</h1>

    <table>
        <tbody>
            <tr>
                <th>Idrole</th>
                <td>{{ role.idrole }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ role.nom }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if role.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('role_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('role_edit', { 'idrole': role.idrole }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
