{% extends 'adminTemplate.html.twig' %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> Livraisons</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace
                                Administrateur</a></li>
                        <li class="breadcrumb-item active"> Livraisons</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
<section class="content">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <a href="{{ path('livraison_new') }}">Create a new livraison</a>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id livraison</th>
                <th>Id Commande</th>
                <th>Livreur Logo</th>
                <th>Trackingcode</th>
                <th>Datecreation</th>
                <th>Datesortie</th>
                <th>Status</th>
                <th>Active</th>
                <th>Update Date</th>
                <th>QR CODE</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td><a href="{{ path('livraison_show', { 'idlivraison': livraison.idlivraison }) }}">{{ livraison.idlivraison }}</a></td>
                <td><a href="{{ path('commande_show', { 'id': livraison.idcommande.id }) }}">{{ livraison.idcommande.id }}</a></td>
                <td><a href="{{ path('livreur_show', { 'idlivreur': livraison.idlivreur.idlivreur }) }}"><img src="/Uploads/Images/{{ livraison.idlivreur.image }}" onerror="this.src='/Uploads/Images/noimage.jpg'" height="40" width="90"></a></td>
                <td>{% if livraison.trackingcode is null %}No tracking number{% else %}{{ livraison.trackingcode }}{% endif %}</td>
                <td>{% if livraison.datecreation %}{{ livraison.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if livraison.datesortie %}{{ livraison.datesortie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td align="center">{% if livraison.trackingcode is null %} <i data-toggle="tooltip" title="Not Delivered!" class="fas fa-sync fa-spin text-red"></i>{% else %}<i data-toggle="tooltip" title="Delivered!" class="fas fa-truck fa-spin text-green"></i>{% endif %}</td>
                <td>{% if livraison.active %}Yes{% else %}No{% endif %}</td>
                <td >{{ time_diff(livraison.datesortie) }}</td>
                <td>{% if livraison.trackingcode is null %}{{ barcode({code: livraison.trackingcode ~ ' Client:' ~ livraison.idutilisateur.username ~ ' Status:' ~ 'Not Delivered!', type: 'qrcode', format: 'html', width: 2, height: 2, color: 'red'}) }}{% else %}{{ barcode({code: livraison.trackingcode ~ ' Client:' ~ livraison.idutilisateur.username ~ ' Status:' ~ 'Delivered!', type: 'qrcode', format: 'html', width: 2, height: 2, color: 'green'}) }}{% endif %}</td>
                <td>
                    <div class="row">
                        <a  href="{{ path('livraison_show', { 'idlivraison': livraison.idlivraison }) }}"
                        ><i class="material-icons" data-toggle="tooltip"
                            title="Show">remove_red_eye</i></a>
                        <a style="  color: #FFC107;"
                           href="{{ path('livraison_edit', { 'idlivraison': livraison.idlivraison }) }}"
                        ><i class="material-icons"
                            data-toggle="tooltip" title="Edit">&#xE254;</i></a>

                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    </div>
            </div>
        </div>
    </div>
                <!-- /.row -->
    <div id="div_chart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
</section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

{% endblock %}
