{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Livraison </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('livraison_index') }}">Liste Des Livraisons</a></li>
                        <li class="breadcrumb-item active">Details Livraison</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id Livraison:</strong> {{ livraison.idlivraison }}</li>
                <li class="list-group-item"><strong>Id Utilisateur:</strong> {{ livraison.idutilisateur}}</li>
                <li class="list-group-item"><strong>Id Ordre:</strong> {{ livraison.idcommande.id}}</li>
                <li class="list-group-item"><strong>Id Societe:</strong> {{ livraison.idsociete.idsociete}}</li>
                <li class="list-group-item"><strong>Tracking Number:</strong> {{ livraison.trackingcode }}</li>
                <li class="list-group-item"><strong>Date-Creation:</strong> {% if livraison.datecreation %}{{ livraison.datecreation|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item"><strong>Date-Sortie:</strong> {% if livraison.datesortie %}{{ livraison.datesortie|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item"><strong>Status:</strong> {% if livraison.trackingcode is null %} Not Delivered{% else %}Delivered!{% endif %}</li>
                <li class="list-group-item"><strong>Active:</strong> {% if livraison.active %}Yes{% else %}No{% endif %}</li>
                <li class="list-group-item"><strong>QR CODE Livraison:</strong>{% if livraison.trackingcode is null %}{{ barcode({code: livraison.trackingcode ~ ' Client:' ~ livraison.idutilisateur.username ~ ' Status:' ~ 'Not Delivered!', type: 'qrcode', format: 'html', width: 5, height: 5, color: 'red'}) }}{% else %}{{ barcode({code: livraison.trackingcode ~ ' Client:' ~ livraison.idutilisateur.username ~ ' Status:' ~ 'Delivered!', type: 'qrcode', format: 'html', width: 5, height: 5, color: 'green'}) }}{% endif %}</li>

            </ul>
        </div>
    </div>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Livreur </h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>


    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id Livreur:</strong> {{ livraison.idlivreur.idlivreur }}</li>
                <li class="list-group-item"><strong>Nom:</strong> {{ livraison.idlivreur.nom}}</li>
                <li class="list-group-item"><strong>Prenom:</strong> {{ livraison.idlivreur.prenom}}</li>
                <li class="list-group-item"><strong>Logo:</strong> <img src="/Uploads/Images/{{ livraison.idlivreur.image }}" onerror="this.src='/Uploads/Images/noimage.jpg'" height="40" width="90"></li>
                <li class="list-group-item"><strong>Adresse :</strong> {{ livraison.idlivreur.adresse }}</li>
                <li class="list-group-item"><strong>Numero Tel:</strong>{{livraison.idlivreur.numTel}}</li>
                <li class="list-group-item"><strong>QR CODE Livreur:</strong>{{ barcode({code: livraison.trackingcode ~ ' Livreur:' ~ livraison.idlivreur.nom ~ ' Numero Tel:' ~ livraison.idlivreur.numTel , type: 'qrcode', format: 'html', width: 5, height: 5, color: 'green'})}}</li>

            </ul>
        </div>
    </div>


    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('livraison_edit', { 'idlivraison': livraison.idlivraison }) }}";
        };
    </script>
{% endblock %}
