{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abonnements list</h1>

    <table>
        <thead>
            <tr>
                <th>Idabonnement</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nbutilisateur</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td><a href="{{ path('abonnement_show', { 'idabonnement': abonnement.idabonnement }) }}">{{ abonnement.idabonnement }}</a></td>
                <td>{{ abonnement.titre }}</td>
                <td>{{ abonnement.description }}</td>
                <td>{{ abonnement.nbutilisateur }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('abonnement_show', { 'idabonnement': abonnement.idabonnement }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('abonnement_edit', { 'idabonnement': abonnement.idabonnement }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abonnement_new') }}">Create a new abonnement</a>
        </li>
    </ul>
{% endblock %}
