{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abonnement</h1>

    <table>
        <tbody>
            <tr>
                <th>Idabonnement</th>
                <td>{{ abonnement.idabonnement }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ abonnement.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ abonnement.description }}</td>
            </tr>
            <tr>
                <th>Nbutilisateur</th>
                <td>{{ abonnement.nbutilisateur }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ abonnement.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abonnement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('abonnement_edit', { 'idabonnement': abonnement.idabonnement }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
