<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Open Quantum | Espace Gestion</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/fontawesome-free/css/all.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/select2/css/select2.min.css')}}">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/jqvmap/jqvmap.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset ('back-office/dist/css/adminlte.min.css')}}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/daterangepicker/daterangepicker.css')}}">
    <!-- summernote -->
    <link rel="stylesheet" href="{{ asset ('back-office/plugins/summernote/summernote-bs4.css')}}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{{ path('open_quantum_homepage') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">

                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                {#<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="{{ asset ('back-office/dist/img/user1-128x128.jpg')}}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="{{ asset ('back-office/dist/img/user8-128x128.jpg')}}" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="{{ asset ('back-office/dist/img/user3-128x128.jpg')}}" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>#}
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header"></span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> {{ mgilet_notification_render(app.user) }}
                            <span class="float-right text-muted text-sm">3 mins</span>

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </a>
                    </div>
                </li>



                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-sm" role="button">Logout</a>



                {#<li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>#}
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{ path('open_quantum_homepage') }}" class="brand-link">
            <img src="{{ asset ('back-office/dist/img/open.PNG')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Open Quantum</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/Uploads/Images/{{app.user.idsociete.logo}}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="{{ path('societe_profile') }}" class="d-block">{{ app.user.nom }} {{ app.user.prenom }} / {{ app.user.idsociete.raisonsociale }}</sup></a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-cog"></i>
                            <p>
                                 Configuration Entreprise
                                <i class="fas fa-angle-left right"></i>
                                {#   <span class="badge badge-info right">6</span>#}
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                {#<a href="{{ path('_delete',{'id':club.id}) }}">DELETE ME </a>#}
                                <a href="{{ path('societe_profile') }}" class="nav-link">
                                    <i class="far fa-building"></i>
                                    <p>Profile Entreprise</p>
                                </a>
                            </li>
                            <li class="nav-item">
                           {#<a href="{{ path('_delete',{'id':club.id}) }}">DELETE ME </a>#}
                                <a href="{{ path('utilisateur_index') }}" class="nav-link">
                                    <i class="fas fa-user-cog"></i>
                                    <p>Gestion Utilisateur</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('famille_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Famille</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('contrat_index') }}" class="nav-link">
                                    <i class="fas fa-file-contract"></i>
                                    <p>Gestion Contrat</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('ordre_index') }}" class="nav-link">
                                    <i class="fas fa-shopping-basket"></i>
                                    <p>Panier</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('unite_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Unite</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('constructeur_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Constructeur</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('role_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Role</p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="{{ path('departement_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Département</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('fournisseur_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion  Des Fournisseurs </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('client_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion des  Clients </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('modele_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Modele</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('modalite_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Modalite</p>
                                </a>
                            </li>




                            <li class="nav-item">
                                <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Inventaire </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('article_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Article</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('lignestock_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Stock</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Vente</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('categorie_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Categorie</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('taxe_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gestion Taxe</p>
                                </a>
                            </li>



                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-shipping-fast"></i>
                            <p>
                                Gestion des livraisons
                                <i class="fas fa-angle-left right"></i>
                                {#   <span class="badge badge-info right">6</span>#}
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                {#<a href="{{ path('open_quantum_livraison') }}">DELETE ME </a>#}
                                <a href="{{ path('livraison_index') }}" class="nav-link">
                                    <i class="fas fa-truck nav-icon"></i>
                                    <p>Shipments</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {#<a href="{{ path('open_quantum_livraison') }}">DELETE ME </a>#}
                                <a href="{{ path('livreur_index') }}" class="nav-link">
                                    <i class="fas fa-truck-loading"></i>
                                    <p>Livreur</p>
                                </a>
                            </li>


                        </ul>
                    </li>




                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fas fa-exclamation-triangle"></i>
                        <p>
                            Gestion des Reclamation
                            <i class="fas fa-angle-left right"></i>
                            {#   <span class="badge badge-info right">6</span>#}
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            {#<a href="{{ path('open_quantum_livraison') }}">DELETE ME </a>#}
                            <a href="{{ path('reclamation_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reclamation</p>
                            </a>
                        </li>




                    </ul>
                </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-cart-arrow-down"></i>
                            <p>
                                Gestion des Mouvements
                                <i class="fas fa-angle-left right"></i>
                                {#   <span class="badge badge-info right">6</span>#}
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                {#<a href="{{ path('open_quantum_achat') }}">DELETE ME </a>#}
                                <a href="{{ path('achat_index') }}" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>
                                    <p>Gestion Achat</p>


                                </a>
                            </li>

                            <li class="nav-item">
                                {#<a href="{{ path('open_quantum_livraison') }}">DELETE ME </a>#}
                                <a href="{{ path('commande_index') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Commande</p>
                                </a>
                            </li>




                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="far fa-comments"></i>
                            <p>
                                Gestion des Reviews
                                <i class="fas fa-angle-left right"></i>
                                {#   <span class="badge badge-info right">6</span>#}
                            </p>
                        </a>
                        <ul class="nav nav-treeview">



                            <li class="nav-item">
                                {#<a href="{{ path('open_quantum_livraison') }}">DELETE ME </a>#}
                                <a href="{{ path('review_index') }}" class="nav-link">
                                    <i class="far fa-comment"></i>
                                    <p>Reviews</p>
                                </a>
                            </li>




                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-tags"></i>
                            <p>
                                Gestion des Promotions
                                <i class="fas fa-angle-left right"></i>
                                {#   <span class="badge badge-info right">6</span>#}
                            </p>
                        </a>
                        <ul class="nav nav-treeview">



                            <li class="nav-item">
                                {#<a href="{{ path('open_quantum_livraison') }}">DELETE ME </a>#}
                                <a href="{{ path('promotion_index') }}" class="nav-link">
                                    <i class="fas fa-percent"></i>
                                    <p>Promotions</p>
                                </a>
                            </li>




                        </ul>
                    </li>


                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
        <div class="content">
            <div class="card card-primary">
                {% block body %}
                {% endblock %}

            </div>

        </div>
    </div>
    <!-- /.content-wrapper -->
   {# <footer class="main-footer">
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.2
        </div>
    </footer>#}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset ('back-office/plugins/jquery/jquery.min.js')}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset ('back-office/plugins/jquery-ui/jquery-ui.min.js')}}"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- ChartJS -->
<script src="{{ asset ('back-office/plugins/chart.js/Chart.min.js')}}"></script>
<!-- Sparkline -->
<script src="{{ asset ('back-office/plugins/sparklines/sparkline.js')}}"></script>
<!-- JQVMap -->
<script src="{{ asset ('back-office/plugins/jqvmap/jquery.vmap.min.js')}}"></script>
<script src="{{ asset ('back-office/plugins/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ asset ('back-office/plugins/jquery-knob/jquery.knob.min.js')}}"></script>
<!-- daterangepicker -->
<script src="{{ asset ('back-office/plugins/moment/moment.min.js')}}"></script>
<script src="{{ asset ('back-office/plugins/daterangepicker/daterangepicker.js')}}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset ('back-office/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
<!-- Summernote -->
<script src="{{ asset ('back-office/plugins/summernote/summernote-bs4.min.js')}}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset ('back-office/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset ('back-office/dist/js/adminlte.js')}}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset ('back-office/dist/js/pages/dashboard.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset ('back-office/dist/js/demo.js')}}"></script>

<script src="{{ asset ('back-office/plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>

{% block custom_import %}
{% endblock %}
</body>
</html>
