<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/home13-auto-parts.html   11 Nov 2019 12:33:20 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Belle Multipurpose Bootstrap 4 Html Template</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset ('front-office/images/favicon.png') }} " />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ asset ('front-office/css/plugins.css')}} ">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="{{ asset ('front-office/css/bootstrap.min.css')}}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ asset ('front-office/css/style.css')}}">
    <link rel="stylesheet" href="{{ asset ('front-office/css/responsive.css')}}">




</head>
{% block bodyClass %}
<body class="template-index home13-auto-parts">
{% endblock %}
<div id="pre-loader">
    <img src="{{ asset ('front-office/images/loader.gif')}}" alt="Loading..." />
</div>
<div class="pageWrapper">
    <!--Search Form Drawer-->
    <div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="#">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
        </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <ul class="customer-links list-inline">
                    <li><a href="/forum/">Our Forum</a></li>
                    <li><a href="{{ path('reclamation_new') }}">Reclamation</a></li>

                </ul>



                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">

                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                    <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="#">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </a></li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            <li><a href="{{ path('societe_new') }}">Create Entreprise Account</a></li>
                            <li><a href="#societeSection">Become A Client</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
    <!--Header-->
    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
    <div class="header-wrap animated d-flex border-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="index.html">
                        <img src="{{ asset ('front-office/images/logo.svg')}}" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template')}}" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->

                    <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu"><a href="{{ path('homepage') }}">Home <i class="anm anm-angle-down-l"></i></a>

                            </li>
                            <li class="lvl1 parent megamenu"><a href="{{ path('ListArticle_index', { 'Categorie': 'All' }) }} ">Shop <i class="anm anm-angle-down-l"></i></a>

                            </li>
                            <li class="lvl1 parent megamenu"><a href="{{ path('afficheCompareArticle') }}"> CompareList <i class="anm anm-angle-down-l"></i></a>

                            </li>
                            <li class="lvl1 parent dropdown"><a href="{{ path('list_post') }}"> Blog <i class="anm anm-angle-down-l"></i></a>

                            </li>


                        </ul>
                    </nav>


                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{{ asset ('front-office/images/logo.svg')}}" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->

                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                    <div class="site-cart">
                        <a href="#;" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>

                        </a>
                        <!--Minicart Popup-->
                        <div id="header-cart" class="block block-cart">
                            <ul class="mini-products-list">

                            </ul>
                            <div class="total">
                                <div class="total-in">
                                    <span class="label">Cart Subtotal:</span><span class="product-price"><span class="money">$0</span></span>
                                </div>
                                <div class="buttonSet text-center">
                                    <a href="{{ path('card') }}" class="btn btn-secondary btn--small">View Cart</a>

                                </div>
                            </div>
                        </div>
                        <!--End Minicart Popup-->
                    </div>
                    {% endif %}
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% endif %}
    <!--End Header-->
    <!--HERREEE STOP-->
    <!--Store Feature Top-->
    {#<div class="store-feature-top">#}
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-12 col-sm-12 col-md-12 col-lg-12">#}
    {#                <div class="flex top-info-bar">#}
    {#                    <div class="flex-item">#}
    {#                        <img src="{{ asset ('front-office/images/truck-mini.png')}}" alt=""> Free Shipping on all orders over $100.#}
    {#                    </div>#}
    {#                    <div class="flex-item">#}
    {#                        <img src="{{ asset ('front-office/images/check.png')}}" alt=""> Worldwide Delivery and same day dispatch.#}
    {#                    </div>#}
    {#                    <div class="flex-item">#}
    {#                        <img src="{{ asset ('front-office/images/return-mini.png')}}" alt=""> Extended Returns Until 10th February#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
    <!--End Store Feature Top-->

    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
        <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a>
                <ul>
                    <li><a href="#" class="site-nav">Home Group 1<i class="anm anm-plus-l"></i></a>
                        <ul>
                            <li><a href="index.html" class="site-nav">Home 1 - Classic</a></li>
                            <li><a href="home2-default.html" class="site-nav">Home 2 - Default</a></li>
                            <li><a href="home15-funiture.html" class="site-nav">Home 15 - Furniture </a></li>
                            <li><a href="home3-boxed.html" class="site-nav">Home 3 - Boxed</a></li>
                            <li><a href="home4-fullwidth.html" class="site-nav">Home 4 - Fullwidth</a></li>
                            <li><a href="home5-cosmetic.html" class="site-nav">Home 5 - Cosmetic</a></li>
                            <li><a href="home6-modern.html" class="site-nav">Home 6 - Modern</a></li>
                            <li><a href="home7-shoes.html" class="site-nav last">Home 7 - Shoes</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="site-nav">Home Group 2<i class="anm anm-plus-l"></i></a>
                        <ul>
                            <li><a href="home8-jewellery.html" class="site-nav">Home 8 - Jewellery</a></li>
                            <li><a href="home9-parallax.html" class="site-nav">Home 9 - Parallax</a></li>
                            <li><a href="home10-minimal.html" class="site-nav">Home 10 - Minimal</a></li>
                            <li><a href="home11-grid.html" class="site-nav">Home 11 - Grid</a></li>
                            <li><a href="home12-category.html" class="site-nav">Home 12 - Category</a></li>
                            <li><a href="#" class="site-nav">Home 13 - Auto Parts</a></li>
                            <li><a href="home14-bags.html" class="site-nav last">Home 14 - Bags</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="site-nav">New Sections<i class="anm anm-plus-l"></i></a>
                        <ul>
                            <li><a href="home11-grid.html" class="site-nav">Image Gallery</a></li>
                            <li><a href="home5-cosmetic.html" class="site-nav">Featured Product</a></li>
                            <li><a href="home7-shoes.html" class="site-nav">Columns with Items</a></li>
                            <li><a href="home6-modern.html" class="site-nav">Text columns with images</a></li>
                            <li><a href="home2-default.html" class="site-nav">Products Carousel</a></li>
                            <li><a href="home9-parallax.html" class="site-nav last">Parallax Banner</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="site-nav">New Features<i class="anm anm-plus-l"></i></a>
                        <ul>
                            <li><a href="home13-auto-parts.html" class="site-nav">Top Information Bar </a></li>
                            <li><a href="#" class="site-nav">Age Varification </a></li>
                            <li><a href="#" class="site-nav">Footer Blocks</a></li>
                            <li><a href="#" class="site-nav">2 New Megamenu style</a></li>
                            <li><a href="#" class="site-nav">Show Total Savings </a></li>
                            <li><a href="#" class="site-nav">New Custom Icons</a></li>
                            <li><a href="#" class="site-nav last">Auto Currency</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lvl1 parent megamenu"><a href="">Shop <i class="anm anm-plus-l"></i></a>
                <ul>
                    <li><a href="#" class="site-nav">Shop Pages<i class="anm anm-plus-l"></i></a>
                        <ul>
                            <li><a href="shop-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                            <li><a href="shop-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                            <li><a href="shop-fullwidth.html" class="site-nav">Fullwidth</a></li>
                            <li><a href="shop-grid-3.html" class="site-nav">3 items per row</a></li>
                            <li><a href="shop-grid-4.html" class="site-nav">4 items per row</a></li>
                            <li><a href="shop-grid-5.html" class="site-nav">5 items per row</a></li>
                            <li><a href="shop-grid-6.html" class="site-nav">6 items per row</a></li>
                            <li><a href="shop-grid-7.html" class="site-nav">7 items per row</a></li>
                            <li><a href="shop-listview.html" class="site-nav last">Product Listview</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="site-nav">Shop Features<i class="anm anm-plus-l"></i></a>
                        <ul>
                            <li><a href="shop-left-sidebar.html" class="site-nav">Product Countdown </a></li>
                            <li><a href="shop-right-sidebar.html" class="site-nav">Infinite Scrolling</a></li>
                            <li><a href="shop-grid-3.html" class="site-nav">Pagination - Classic</a></li>
                            <li><a href="shop-grid-6.html" class="site-nav">Pagination - Load More</a></li>
                            <li><a href="product-labels.html" class="site-nav">Dynamic Product Labels</a></li>
                            <li><a href="product-swatches-style.html" class="site-nav">Product Swatches </a></li>
                            <li><a href="product-hover-info.html" class="site-nav">Product Hover Info</a></li>
                            <li><a href="shop-grid-3.html" class="site-nav">Product Reviews</a></li>
                            <li><a href="shop-left-sidebar.html" class="site-nav last">Discount Label </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lvl1 parent megamenu"><a href="{{ path('afficheCompareArticle') }}">Compare <i class="anm anm-plus-l"></i></a>

            </li>
            <li class="lvl1 parent megamenu"><a href="{{ path('list_post') }}">Blog <i class="anm anm-plus-l"></i></a>

            </li>

        </ul>
    </div>

    <!--End Mobile Menu-->

    {% block body  %}

    {% endblock %}
































    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>


    <!--End Quick View popup-->

    <!-- Newsletter Popup -->
    <div class="newsletter-wrap" id="popup-container">
        <div id="popup-window">
            <a class="btn closepopup"><i class="icon icon anm anm-times-l"></i></a>
            <!-- Modal content-->
            <div class="display-table splash-bg">
                <div class="display-table-cell width40"><img src="{{ asset ('front-office/images/newsletter-img.jpg')}}" alt="Join Our Mailing List" title="Join Our Mailing List" /> </div>
                <div class="display-table-cell width60 text-center">
                    <div class="newsletter-left">
                        <h2>Join Our Mailing List</h2>
                        <p>Sign Up for our exclusive email list and be the first to know about new products and special offers</p>
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                                <span class="input-group__btn">
                  <button type="submit" class="btn newsletter__submit" name="commit" id="subscribeBtn"> <span class="newsletter__submit-text--large">Subscribe</span> </button>
                  </span> </div>
                        </form>
                        <ul class="list--inline site-footer__social-icons social-icons">
                            <li><a class="social-icons__link" href="#" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                            <li><a class="social-icons__link" href="#" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a class="social-icons__link" href="#" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a class="social-icons__link" href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a class="social-icons__link" href="#" title="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a class="social-icons__link" href="#" title="Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter Popup -->

    <!-- Including Jquery -->
    <script src="{{ asset ('front-office/js/vendor/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ asset ('front-office/js/vendor/modernizr-3.6.0.min.js')}}"></script>
    <script src="{{ asset ('front-office/js/vendor/jquery.cookie.js')}}"></script>
    <script src="{{ asset ('front-office/js/vendor/wow.min.js')}}"></script>
    <!-- Including Javascript -->
    <script src="{{ asset ('front-office/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset ('front-office/js/plugins.js')}}"></script>
    <script src="{{ asset ('front-office/js/popper.min.js')}}"></script>
    <script src="{{ asset ('front-office/js/lazysizes.js')}}"></script>
    <script src="{{ asset ('front-office/js/main.js')}}"></script>
    <!--For Newsletter Popup-->
    <script>
        {%  block Custom_Script %}
        function price_slider(){
            $("#slider-range").slider({
                range: true,
                min: 12,
                max: 200,
                values: [0, 100],
                slide: function(event, ui) {
                    $("#amount").val("$" + ui.values[0] + "-$" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        }
        price_slider();

        {% endblock %}

        jQuery(document).ready(function(){
            jQuery('.closepopup').on('click', function () {
                jQuery('#popup-container').fadeOut();
                jQuery('#modalOverly').fadeOut();
            });

            var visits = jQuery.cookie('visits') || 0;
            visits++;
            jQuery.cookie('visits', visits, { expires: 1, path: '/' });
            console.debug(jQuery.cookie('visits'));
            if ( jQuery.cookie('visits') > 1 ) {
                jQuery('#modalOverly').hide();
                jQuery('#popup-container').hide();
            } else {
                var pageHeight = jQuery(document).height();
                jQuery('<div id="modalOverly"></div>').insertBefore('body');
                jQuery('#modalOverly').css("height", pageHeight);
                jQuery('#popup-container').show();
            }
            if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
        });

        jQuery(document).mouseup(function(e){
            var container = jQuery('#popup-container');
            if( !container.is(e.target)&& container.has(e.target).length === 0)
            {
                container.fadeOut();
                jQuery('#modalOverly').fadeIn(200);
                jQuery('#modalOverly').hide();
            }
        });

        /*--------------------------------------
            Promotion / Notification Cookie Bar
          -------------------------------------- */
        if(Cookies.get('promotion') != 'true') {
            $(".notification-bar").show();
        }
        $(".close-announcement").on('click',function() {
            $(".notification-bar").slideUp();
            Cookies.set('promotion', 'true', { expires: 1});
            return false;
        });
    </script>
    <!--End For Newsletter Popup-->
</div>
{% block custom_import %}
{% endblock %}
</body>

<!-- belle/home13-auto-parts.html   11 Nov 2019 12:35:17 GMT -->
</html>