
{% extends 'baseClientTemplate.html.twig' %}

{% block bodyClass %}
<body class="template-collection belle">
{% endblock %}


{% block body %}
<!--Body Content-->


<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Compare List</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <form action="#">
                    <div class="wishlist-table table-content table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="product-name text-center alt-font">Remove</th>
                                <th class="product-price text-center alt-font">Images</th>
                                <th class="product-name alt-font">Product</th>
                                <th class="product-price text-center alt-font">Unit Price</th>
                                <th class="product-price text-center alt-font">Description</th>
                                <th class="stock-status text-center alt-font">Stock Status</th>
                                <th class="product-subtotal text-center alt-font">Add to Cart</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for article in Articles %}
                            <tr id="ligne{{ article.idarticle }}">
                                <td class="product-remove text-center" valign="middle"><a href="javascript:suppprimerCompare('{{ article.idarticle }}')"><i class="icon icon anm anm-times-l"></i></a></td>
                                <td class="product-thumbnail text-center">
                                    <a href="#"><img src="{{ asset('uploads/images/' ~ article.image) }}" alt="" title="" /></a>
                                </td>
                                <td class="product-name"><h4 class="no-margin"><a href="#">{{ article.designation }}</a></h4></td>
                                <td class="product-price text-center"><span class="amount">${{ article.prixvente }}</span></td>
                                <td class="product-name"><h4 class="no-margin"><a href="#">{{ article.description }}</a></h4></td>.
                                {% if article.qteStock!=0 %}
                                <td class="stock text-center">
                                    <span style="color: #3bff28" class="in-stock">in stock</span>
                                </td>
                                {% else %}
                                    <td class="stock text-center">
                                        <span style="color: #ff0012" class="in-stock">Out of stock</span>
                                    </td>

                                    {% endif %}

                                <td class="product-subtotal text-center"><button

                                            type="button" class="btn btn-small"
                                            onclick="javascript:panier('{{ article.idarticle }}')"
                                                >Add To Cart</button></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!--End Body Content-->


{% endblock %}


{% block Custom_Script %}


function panier(idp) {
var qte = 1;
$.ajax({



url:        'ListArticle/addProduit/'+idp+'/'+qte,
success: function(data) {
{#        alert('success');#}

},
error : function(xhr, textStatus, errorThrown) {
{#    . . . .#}
}
});
}


function suppprimerCompare(idp) {


$.ajax({

url:        'supprimerCompareList/'+idp+' ',
success: function(data) {
$('#ligne'+idp).attr("hidden", true);

},
error : function(xhr, textStatus, errorThrown) {
alert('Ajax request failed.');
}
});
}



{% endblock %}