{% extends 'baseClientTemplate.html.twig' %}


{% block bodyClass %}
<body class="template-index home13-auto-parts">
{% endblock %}




{% block body  %}
    <!--Body Content-->
<div id="page-content">
    <!--Home slider-->
    <div class="slideshow slideshow-wrapper pb-section">
        <div class="home-slideshow">
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload desktop-show" data-src="{{ asset ('front-office/images/slideshow-banners/home13-auto-parts-bnr1.jpg')}}" src="{{ asset ('front-office/images/slideshow-banners/home13-auto-parts-bnr1.jpg')}}" alt="The Perfect Theme for Your Auto Parts Business" title="The Perfect Theme for Your Auto Parts Business" />
                    <img class="blur-up lazyload mobile-show" data-src="{{ asset ('front-office/images/slideshow-banners/home13-auto-parts-bnr1-mobile.jpg')}}" src="{{ asset ('front-office/images/slideshow-banners/home13-auto-parts-bnr1-mobile.jpg')}}" alt="The Perfect Theme for Your Auto Parts Business" title="The Perfect Theme for Your Auto Parts Business" />
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content bottom">
                            <div class="container">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">We provide solutions for your business!</h2>
                                    <span class="mega-subtitle slideshow__subtitle">We offer the services you need to streamline your business</span>
                                    <a href="{{ path('societe_new') }}"> <span class="btn">Join Us Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Home slider-->

    <!--Our benefits will change the way you buy parts-->
    <div class="section featured-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">Our benefits will change the way you buy parts.</h2>
                        <p>Order with confidence!</p>
                    </div>
                </div>
            </div>
            <div class="row list-items">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <img class="blur-up lazyload" data-src="{{ asset ('front-office/images/warranty.png')}}" src="{{ asset ('front-office/images/warranty.png')}}" alt="Warranty" title="Warranty" />
                    <h3 class="h4">Warranty</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <img class="blur-up lazyload" data-src="{{ asset ('front-office/images/return.png')}}" src="{{ asset ('front-office/images/return.png')}}" alt="Easy Returns" title="Easy Returns" />
                    <h3 class="h4">Easy Returns</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <img class="blur-up lazyload" data-src="{{ asset ('front-office/images/dollar.png')}}" src="{{ asset ('front-office/images/dollar.png')}}" alt="Competitive Prices" title="Competitive Prices" />
                    <h3 class="h4">Competitive Prices</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <img class="blur-up lazyload" data-src="{{ asset ('front-office/images/reliable.png')}}" src="{{ asset ('front-office/images/reliable.png')}}" alt="Reliability" title="Reliability" />
                    <h3 class="h4">Reliability</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <img class="blur-up lazyload" data-src="{{ asset ('front-office/images/truck.png')}}" src="{{ asset ('front-office/images/truck.png')}}" alt="Fast Delivery" title="Fast Delivery" />
                    <h3 class="h4">Fast Delivery</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <img class="blur-up lazyload" data-src="{{ asset ('front-office/images/lock.png')}}" src="{{ asset ('front-office/images/lock.png')}}" alt="Security" title="Security" />
                    <h3 class="h4">Security</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
    <!--End Our benefits will change the way you buy parts-->

    <!--Collection Box slider-->
  <section id="societeSection">
    <div class="collection-box fadeIn section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">Available Society </h2>
{#                        <p>Solutions for a better driving experience</p>#}
                    </div>
                </div>
            </div>
            <div class="collection-grid-4item">

                {% for societe in societes %}
                <div class="collection-grid-item">
                    <a href="{{path('utilisateur_register', { 'idSociete': societe.idsociete })}}" class="collection-grid-item__link">
                        <img data-src="{{ asset('uploads/images/' ~ societe.logo) }}" src="{{ asset('uploads/images/' ~ societe.logo) }}" alt="{{societe.raisonsociale}}" class="blur-up lazyload"/>
                        <div class="collection-grid-item__title-wrapper">
                            <h3 class="collection-grid-item__title btn btn--secondary no-border">{{societe.raisonsociale}}</h3>
                        </div>
                    </a>
                </div>

                {% endfor %}







            </div>
        </div>
    </div>
   </section><!-- End About Section -->
    <!--End Collection Box slider-->

    <!--Popular Categories-->
    <!--End Popular Categories-->

    <!--Parallax Section-->

    <!--End Parallax Section-->
    <!--New Arrivals-->

    <!--End Featured Product-->

    <!--Testimonial Slider-->
    <div class="section testimonial-slider">
        <div class="container">
            <div class="quote-wraper">
                <!--Testimonial Slider Title-->
                <div class="section-header text-center">
                    <h2 class="h2">Customer Reviews</h2>
                </div>
                <!--End Testimonial Slider Title-->
                <!--Testimonial Slider Items-->
                <div class="quotes-slider">
                    <div class="quotes-slide">
                        <blockquote class="quotes-slider__text text-center">
                            <div class="rte-setting"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
                            <p class="authour">Happy Customer</p>
                        </blockquote>
                    </div>
                    <div class="quotes-slide">
                        <blockquote class="quotes-slider__text text-center">
                            <div class="rte-setting"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></div>
                            <p class="authour">Happy Customer</p>
                        </blockquote>
                    </div>
                    <div class="quotes-slide">
                        <blockquote class="quotes-slider__text text-center">
                            <div class="rte-setting"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
                            <p class="authour">Happy Customer</p>
                        </blockquote>
                    </div>
                </div>
                <!--Testimonial Slider Items-->
            </div>
        </div>
    </div>
    <!--End Testimonial Slider-->

    <!--Logo Slider-->

    <!--End Logo Slider-->
</div>
<!--End Body Content-->

<!--Footer-->
<footer id="footer" class="footer-2">
    <div class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                    <div class="display-table">
                        <div class="display-table-cell footer-newsletter">
                            <div class="section-header text-center">
                                <label class="h2"><span>sign up for </span>newsletter</label>
                            </div>
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                                    <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                            </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                    <div class="footer-social">
                        <ul class="list--inline site-footer__social-icons social-icons">
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                            <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer">
        <div class="container">
            <!--Footer Links-->
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Quick Shop</h4>
                        <ul>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Informations</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Customer Services</h4>
                        <ul>
                            <li><a href="#">Request Personal Data</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4">Contact Us</h4>
                        <ul class="addressFooter">
                            <li><i class="icon anm anm-map-marker-al"></i><p>Esprit<br>Ghazella </p></li>
                            <li class="phone"><i class="icon anm anm-phone-s"></i><p>56216485</p></li>
                            <li class="email"><i class="icon anm anm-envelope-l"></i><p>OpenQuantum@gmail.com</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Footer Links-->
            <hr>
            <div class="footer-bottom">
                <div class="row">
                    <!--Footer Copyright-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="templateshub.net">Templates Hub</a></div>
                    <!--End Footer Copyright-->
                    <!--Footer Payment Icon-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                        <img src="{{ asset ('front-office/images/cards.jpg')}}" alt="Payment">
                    </div>
                    <!--End Footer Payment Icon-->
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
<!--Scoll Top-->

<!--End Scoll Top-->

<!--Quick View popup-->


{% endblock %}