{% extends 'baseClientTemplate.html.twig' %}


{% block bodyClass %}
<body class="template-collection belle">
{% endblock %}


{% block body %}
<!--Body Content-->
<div id="page-content">
    <!--Collection Banner-->
    <div class="collection-header">
        <div class="collection-hero">
            <div class="collection-hero__image"><img class="blur-up lazyload"
                                                     data-src="{{ asset ('front-office/images/cat-women1.jpg') }}"
                                                     src="{{ asset ('front-office/images/cat-women1.jpg') }}"
                                                     alt="Women" title="Women"/></div>
            <div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width">{{ cate }}</h1>
            </div>

        </div>
    </div>
    <!--End Collection Banner-->

    <div class="container-fluid">
        <div class="row">
            <!--Sidebar-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-2 sidebar filterbar">
                <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                <div class="sidebar_tags">
                    <!--Categories-->
                    <div class="sidebar_widget categories filter-widget">
                        <div class="widget-title"><h2>Categories</h2></div>
                        <div class="widget-content">
                            <ul class="sidebar_categories">


                                {% for fam in fam_cate %}
                                    {% if fam.categories is empty %}
                                        <li class="lvl-1"><a href="#;" class="site-nav">{{ fam.libelle }}</a></li>


                                    {% else %}
                                        <li class="level1 sub-level"><a href="#;" class="site-nav">{{ fam.libelle }}</a>
                                            <ul class="sublinks">
                                                {% for cate in fam.categories %}
                                                    <li class="level2"><a
                                                                href="{{ path('ListArticle_index', { 'Categorie': cate.libelle}) }}"
                                                                class="site-nav">{{ cate.libelle }}</a></li>

                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar_widget filterBox filter-widget">
                        <form>
                            <div class="widget-title">
                                <h2>Price</h2>
                            </div>

                            <div id="slider-range"
                                 class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="no-margin"><input name="price" id="amount" type="text"></p>
                                </div>
                                <div class="col-6 text-right margin-25px-top">
                                    <button type="submit" class="btn btn-secondary btn--small"
                                    >
                                        filter
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End Price Filter-->
                    <!--Popular Products-->
                    {% if not (popArticles is empty) %}
                        <div class="sidebar_widget">
                            <div class="widget-title"><h2>Popular Products</h2></div>
                            <div class="widget-content">
                                <div class="list list-sidebar-products">
                                    <div class="grid">
                                        {% for popArticle in popArticles %}
                                            <div class="grid__item">
                                                <div class="mini-list-item">
                                                    <div class="mini-view_image">
                                                        <a class="grid-view-item__link" href="javascript:void(0)"
                                                           data-toggle="modal"
                                                           data-target="#content_quickview_Populare{{ popArticle.idarticle }}">
                                                            <img class="grid-view-item__image"
                                                                 src="{{ asset('uploads/images/' ~ popArticle.image) }}"
                                                                 alt=""/>
                                                        </a>


                                                    </div>
                                                    <div class="details"><a class="grid-view-item__title"
                                                                            href="javascript:void(0)"
                                                                            data-toggle="modal"
                                                                            data-target="#content_quickview_Populare{{ popArticle.idarticle }}">

                                                            {{ popArticle.designation }}

                                                        </a>
                                                        <div class="grid-view-item__meta"><span
                                                                    class="product-price__price"><span
                                                                        class="money">${{ popArticle.prixvente }}</span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
            <!--End Sidebar-->
            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-9 col-lg-10 main-col shop-grid-7">
                <div class="productList">
                    <!--Toolbar-->
                    <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                    <div class="toolbar">
                        <div class="filters-toolbar-wrapper">
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
                                    <a href="#" title="Grid View" class="change-view change-view--active">
                                        <img src="{{ asset ('front-office/images/grid.jpg') }}" alt="Grid"/>
                                    </a>
                                    <a href="#" title="List View" class="change-view">
                                        <img src="{{ asset ('front-office/images/list.jpg') }}" alt="List"/>
                                    </a>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    <span class="filters-toolbar__product-count">Showing: {{ nbArticle }}</span>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 text-right">
                                    <div class="filters-toolbar__item">
                                        <label for="SortBy" class="hidden">Sort</label>
                                        <form>
                                            <select onchange="this.form.submit()" name="SortBy" id="SortBy"
                                                    class="filters-toolbar__input filters-toolbar__input--sort">
                                                <option value="title-ascending" selected="selected">Sort</option>
                                                <option>Alphabetically, A-Z</option>
                                                <option>Alphabetically, Z-A</option>
                                                <option>Price, low to high</option>
                                                <option>Price, high to low</option>

                                            </select>

                                            <input class="collection-header__default-sort" type="hidden" value="manual">
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Toolbar-->
                    <div class="grid-products grid--view-items">
                        <div class="row">
                            {% for article in articles %}

                            {% if article.active==1 %}
                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 grid-view-item style2 item">
                                {% else %}
                                <div class="col-6 col-sm-6 col-md-4 col-lg-2 item grid-view-item style2 grid-view-item--sold-out">
                                    {% endif %}

                                    <div class="grid-view_image">
                                        <!-- start product image -->
                                        <a href="product-accordion.html" class="grid-view-item__link">
                                            <!-- image -->
                                            <img class="grid-view-item__image primary blur-up lazyload"
                                                 data-src="{{ asset('uploads/images/' ~ article.image) }}"
                                                 src="{{ asset('uploads/images/' ~ article.image) }}" alt="image"
                                                 title="product"/>
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="grid-view-item__image hover blur-up lazyload"
                                                 data-src="{{ asset('uploads/images/' ~ article.image) }}"
                                                 src="{{ asset('uploads/images/' ~ article.image) }}" alt="image"
                                                 title="product"/>
                                            <!-- End hover image -->
                                            {% if article.active!=1 %}
                                                <span class="sold-out"><span>Unavailable </span></span>
                                            {% endif %}
                                        </a>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details hoverDetails text-center mobile">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="#">{{ article.designation }}</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="price">${{ article.prixvente }}</span>
                                            </div>
                                            <!-- End product price -->
                                            <div class="product-review">
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                            <!-- product button -->
                                            {% if article.active==1 %}
                                                <div class="button-set">
                                                    <a href="javascript:void(0)" title="Quick View"
                                                       class="quick-view-popup quick-view" data-toggle="modal"
                                                       data-target="#content_quickview{{ article.idarticle }}">
                                                        <i class="icon anm anm-search-plus-r"></i>
                                                    </a>
                                                    <!-- Start product button -->

                                                    <div class="wishlist-btn">
                                                        <a class="wishlist add-to-wishlist emaillink btn "
                                                           href="#productInquiry{{ article.idarticle }}"
                                                           title="Add to Wishlist">
                                                            <i class="icon anm anm-heart-l"></i>
                                                        </a>
                                                    </div>
                                                    <div class="compare-btn">
                                                        <a class="compare add-to-compare"
                                                           href="javascript:ajoutCompare({{ article.idarticle }});"
                                                           title="Add to Compare">
                                                            <i class="icon anm anm-random-r"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <!-- End product button -->
                                        </div>
                                        <!-- End product details -->
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--End Main Content-->
                </div>
            </div>

            {% for article in articles %}
            <div class="modal fade quick-view-popup" id="content_quickview{{ article.idarticle }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="ProductSection-product-template" class="product-template__container prstyle1">
                                <div class="product-single">
                                    <!-- Start model close -->
                                    <a href="javascript:void()" data-dismiss="modal"
                                       class="model-close-btn pull-right"
                                       title="close"><span class="icon icon anm anm-times-l"></span></a>
                                    <!-- End model close -->
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="product-details-img">
                                                <div class="pl-20">
                                                    <img src="{{ asset('uploads/images/' ~ article.image) }}"
                                                         alt=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="product-single__meta">
                                                <h2 class="product-single__title">{{ article.designation }}</h2>
                                                <div class="prInfoRow">
                                                    <div class="product-stock">
                                                        {% if article.qteStock==0 %}
                                                        <span class="outstock "
                                                              style="color: #ff0015">Unavailable</span></div>
                                                    {% else %}
                                                    <span class="instock ">In Stock</span>
                                                    <span class="outstock hide">Unavailable</span></div>
                                                {% endif %}

                                                <div class="product-sku">SKU: <span
                                                            class="variant-sku">{{ article.refinterne }}</span>
                                                </div>
                                            </div>
                                            <p class="product-single__price product-single__price-product-template">
                                                <span class="visually-hidden">Regular price</span>
                                                <s id="ComparePrice-product-template"><span
                                                            class="money">${{ article.prixvente }}</span></s>
                                                <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                        <span id="ProductPrice-product-template"><span
                                                    class="money">${{ article.prixvente }}</span></span>
                                    </span>
                                            </p>
                                            <div class="product-single__description rte">
                                                {{ article.description }}
                                            </div>

                                            <form method="post" action="http://annimexweb.com/cart/add"
                                                  id="product_form_10508262282" accept-charset="UTF-8"
                                                  class="product-form product-form-product-template hidedropdown"
                                                  enctype="multipart/form-data">

                                                <!-- Product Action -->
                                                <div class="product-action clearfix">
                                                    <div class="product-form__item--quantity">
                                                        <div class="wrapQtyBtn">
                                                            <div class="qtyField">
                                                                <a class="qtyBtn minus"
                                                                   href="javascript:test('#Quantity{{ article.idarticle }}',{{ article.qteStock }},'#btnAjoutCart{{ article.idarticle }}');"><i
                                                                            class="fa anm anm-minus-r"
                                                                            aria-hidden="true"></i></a>
                                                                <input type="text" id="Quantity{{ article.idarticle }}"
                                                                       name="quantity"
                                                                       value="1"
                                                                       class="product-form__input qty">
                                                                <a class="qtyBtn plus"
                                                                   href="javascript:test('#Quantity{{ article.idarticle }}',{{ article.qteStock }},'#btnAjoutCart{{ article.idarticle }}');"><i
                                                                            class="fa anm anm-plus-r"
                                                                            aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-form__item--submit">
                                                        <a>
                                                            {% if article.qteStock==0 %}
                                                                <button type="button" name="add" id="btnDisabled"
                                                                        disabled
                                                                        class="btn product-form__cart-submit">
                                                                    <span>Add to cart</span>
                                                                </button>
                                                            {% else %}
                                                                <button type="button" name="add"
                                                                        id="btnAjoutCart{{ article.idarticle }}"
                                                                        onclick="javascript:panier('{{ article.idarticle }}','#Quantity{{ article.idarticle }}')"
                                                                        class="btn product-form__cart-submit">
                                                                    <span>Add to cart</span>
                                                                </button>
                                                            {% endif %}

                                                        </a>


                                                    </div>
                                                </div>
                                                <!-- End Product Action -->
                                            </form>
                                            <div class="display-table shareRow">
                                                <div class="display-table-cell">
                                                    <div class="wishlist-btn">
                                                        <a class="wishlist add-to-wishlist" href="#"
                                                           title="Add to Wishlist"><i
                                                                    class="icon anm anm-heart-l"
                                                                    aria-hidden="true"></i> <span>Add to Wishlist</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End-product-single-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hide">
            <div style="background:#eee; margin:0 auto; padding:20px; max-width:600px; position:relative;"
                 id="productInquiry{{ article.idarticle }}">
                <div class="contact-form form-vertical">
                    <div class="page-title">
                        <h3>{{ article.designation }}</h3>
                    </div>
                    <br>
                    <form method="post" action="#" id="contact_form" class="contact-form">
                        <input type="hidden" name="form_type" value="contact"/>
                        <input type="hidden" name="utf8" value="✓"/>
                        <div class="formFeilds">
                            <input type="hidden" name="contact[product name]" value="Camelia Reversible Jacket">
                            <input type="hidden" name="contact[product link]"
                                   value="/products/camelia-reversible-jacket-black-red">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <input style="background-color:#fff; margin-bottom:10px;" required rows="10"
                                           type="text" id="ContactFormName" name="contact[name]" placeholder="Subject"
                                           value="" required>
                                </div>
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <textarea style="background-color:#fff; margin-bottom:10px;" required rows="10"
                                              id="ReviewMessageTest" name="contact[body]"
                                              placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <textarea style="background-color:#fff; margin-bottom:10px;" required rows="10"
                                              id="ReviewAddress" name="contact[body]"
                                              placeholder="Address"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="button" class="btn" value="Send Review"
                                           onclick=" javascript:ajoutReview({{ article.idarticle }})">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}







        {% for article in popArticles %}
            <div class="modal fade quick-view-popup" id="content_quickview_Populare{{ article.idarticle }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="ProductSection-product-template" class="product-template__container prstyle1">
                                <div class="product-single">
                                    <!-- Start model close -->
                                    <a href="javascript:void()" data-dismiss="modal"
                                       class="model-close-btn pull-right"
                                       title="close"><span class="icon icon anm anm-times-l"></span></a>
                                    <!-- End model close -->
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="product-details-img">
                                                <div class="pl-20">
                                                    <img src="{{ asset('uploads/images/' ~ article.image) }}"
                                                         alt=""/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="product-single__meta">
                                                <h2 class="product-single__title">{{ article.designation }}</h2>
                                                <div class="prInfoRow">
                                                    <div class="product-stock"><span
                                                                class="instock ">In Stock</span>
                                                        <span class="outstock hide">Unavailable</span></div>
                                                    <div class="product-sku">SKU: <span
                                                                class="variant-sku">{{ article.refinterne }}</span>
                                                    </div>
                                                </div>
                                                <p class="product-single__price product-single__price-product-template">
                                                    <span class="visually-hidden">Regular price</span>
                                                    <s id="ComparePrice-product-template"><span
                                                                class="money">${{ article.prixvente }}</span></s>
                                                    <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                        <span id="ProductPrice-product-template"><span
                                                    class="money">${{ article.prixvente }}</span></span>
                                    </span>
                                                </p>
                                                <div class="product-single__description rte">
                                                    {{ article.description }}
                                                </div>

                                                <form method="post" action="http://annimexweb.com/cart/add"
                                                      id="product_form_10508262282" accept-charset="UTF-8"
                                                      class="product-form product-form-product-template hidedropdown"
                                                      enctype="multipart/form-data">

                                                    <!-- Product Action -->
                                                    <div class="product-action clearfix">
                                                        <div class="product-form__item--quantity">
                                                            <div class="wrapQtyBtn">
                                                                <div class="qtyField">
                                                                    <a class="qtyBtn minus"
                                                                       href="javascript:void(0);"><i
                                                                                class="fa anm anm-minus-r"
                                                                                aria-hidden="true"></i></a>
                                                                    <input type="text"
                                                                           id="QuantityPoP{{ article.idarticle }}"
                                                                           name="quantity"
                                                                           value="1"
                                                                           class="product-form__input qty">
                                                                    <a class="qtyBtn plus"
                                                                       href="javascript:void(0);"><i
                                                                                class="fa anm anm-plus-r"
                                                                                aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-form__item--submit">
                                                            <a href="javascript:panier('{{ article.idarticle }}','#QuantityPoP{{ article.idarticle }}')">
                                                                <button type="button" name="add"
                                                                        class="btn product-form__cart-submit">
                                                                    <span>Add to cart</span>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- End Product Action -->
                                                </form>
                                                <div class="display-table shareRow">
                                                    <div class="display-table-cell">
                                                        <div class="wishlist-btn">
                                                            <a class="wishlist add-to-wishlist" href="#"
                                                               title="Add to Wishlist"><i
                                                                        class="icon anm anm-heart-l"
                                                                        aria-hidden="true"></i>
                                                                <span>Add to Wishlist</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End-product-single-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {% endblock %}


    {% block Custom_Script %}

    function price_slider(){
    $("#slider-range").slider({
    range: true,
    min: {{ min }},
    max: {{ max+ 1 }},
    values: [0, {{ (min+max)/2 }}],
    slide: function(event, ui) {
    $("#amount").val("$" + ui.values[0] + "-$" + ui.values[1]);
    }
    });
    $("#amount").val("$" + $("#slider-range").slider("values", 0) +
    " - $" + $("#slider-range").slider("values", 1));
    }
    price_slider();


    function panier(idp,inp) {
    var qte = $(inp).val();
    $.ajax({


    url: 'addProduit/'+idp+'/'+qte,
    success: function(data) {
            alert('success');

    },
    error : function(xhr, textStatus, errorThrown) {
            alert('Ajax request failed.');
    }
    });
    }


    {#    function ff() {#}
    {#    var typo = $(#SortBy).val();#}
    {#    $.ajax({#}

    {#    url:        '/?SortBy=typo#}
    {#    success: function(data) {#}
    {#            alert('success');#}

    {#    },#}
    {#    error : function(xhr, textStatus, errorThrown) {#}
    {#            alert('Ajax request failed.');#}
    {#    }#}
    {#    });#}
    {#    }#}

    function test(inp,stock,btn){
    var qte = $(inp).val();
    console.log(qte);
    console.log(stock);
    if(qte>stock){
    $(btn).attr("disabled", true);
    }else {
    $(btn).attr("disabled", false);
    }

    }


    function ajoutCompare(idarticle){

    $.ajax({
    url: 'addCompareList/'+idarticle+' ',
    success: function(data) {
    {#        alert('success');#}
    },
    error : function(xhr, textStatus, errorThrown) {
    {#        alert('Ajax request failed.');#}
    }
    });

    }


    function ajoutReview(idarticle){
    var rve = $('#ReviewMessageTest').val();
    var rd = $('#ReviewAddress').val();
    $.ajax({
    url: 'addReview/'+idarticle+'/'+rve+'/'+rd,
    success: function(data) {
    {#        alert('success');#}
    },
    error : function(xhr, textStatus, errorThrown) {
    {#        alert('Ajax request failed.');#}
    }
    });


    }


{% endblock %}