{% extends 'baseClientTemplate.html.twig' %}


{% block bodyClass %}
<body class="template-index belle home4-fullwidth">
{% endblock %}



{% block body  %}
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Shopping Cart</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="alert alert-success text-uppercase" role="alert">
                    <i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
                </div>
                <form action="#" method="post" class="cart style2">
                    <table>
                        <thead class="cart__row cart__header">
                        <tr>
                            <th colspan="2" class="text-center">Article</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-right">Total</th>
                            <th class="action">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for id,qt in panier %}

                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                {% set total = total + articles[id].prixvente * qt %}
                                <td class="cart__image-wrapper cart-flex-item">
                                    <a href="#"><img class="cart__image" src="{{ asset('uploads/images/' ~ articles[id].image) }}" alt="{{ articles[id].designation }}"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a href="#">{{ articles[id].designation }} </a>
                                    </div>

                                </td>
                                <td class="cart__price-wrapper cart-flex-item">
                                    <span class="money">${{ articles[id].prixvente }}</span>
                                </td>

                                <td class="cart__update-wrapper cart-flex-item text-right">
                                    <div class="qty-btn d-flex">

                                        <div class="quantity">
                                            <input type="number" class="qty-text" id="{{ articles[id].idarticle }}" step="1" min="1" max="300" name="quantity" value="{{ qt }}">
                                        </div>
                                    </div>
                                </td>



                                <td class="text-right small--hide cart-price">
                                    <div><span class="money">${{ articles[id].prixvente * qt }}</span></div>
                                </td>
                                <td class="text-center small--hide"><a href="{{ path('cart_index', {'id': articles[id].idarticle}) }}" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                            </tr>


                        {% endfor %}





                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="text-left"><a href="{{ path('ListArticle_index', { 'Categorie': 'All'}) }}" class="btn btn-secondary btn--small cart-continue">Continue shopping</a></td>
                            <td colspan="3" class="text-right">
                                <button  type="submit" name="update" class="btn btn-secondary btn--small cart-continue ml-2">Update Cart</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>


            <div class="container mt-4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        <h5>Discount Codes</h5>
                        <form method="get">
                            <div class="form-group">
                                <label for="address_zip">Enter your coupon code if you have one.</label>
                                <input id="couponcode" type="text" name="couponcode">
                            </div>
                            <div class="actionRow" onclick="this.form.submit()">
                                <div><input type="submit" class="btn btn-secondary btn--small" value="Apply Coupon"></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                    </div>

                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                        <div class="solid-border">
                            <div class="row border-bottom pb-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Total</span>
                                <span class="total">${{ total }}</span></span>
                            </div>

                            <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                <span class="col-12 col-sm-6 text-right">Free shipping</span>
                            </div>
                            <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Total with Discount</strong></span>
                                {% if pourcentage == 0 %}
                                    {% set totalnew=total %}
                                {% else %}
                                    {% set totalnew=total-(total*pourcentage)/100 %}
                                {% endif  %}
                                <span class="total">${{ totalnew }}</span></span>
                            </div>
                            <p class="cart_tearm">
                                <label>
                                    <input type="checkbox" name="tearm" class="checkbox" value="tearm" required="">
                                    I agree with the terms and conditions
                                </label>
                            </p>
                            <div class="cart-btn mt-100" >
                                <a   href="javascript:test();"
                                     class="btn amado-btn w-100">Checkout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


{% endblock %}
{% block Custom_Script %}

        $(document).ready(function() {
        $( ".qty-text" ).change(function(e) {
        alert( e.target.value );

        $.ajax({
        url: 'setArticle/' + e.target.id + '/' + e.target.value,
        success: function (data) {
        alert(data);

        $(".total").html('$' + data);
        },
        error: function (xhr, textStatus, errorThrown) {
        alert('Ajax request failed.');
        }
        });
        });

        });
{#    {{path('CheckOut')}}#}

    function test(){
    {% if panier is empty %}
      alert("panier Vide ");
    {% else %}
        location.href = "{{ path('CheckOut') }}";
    {% endif %}

    }




    



{% endblock %}
