<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Open Quantum Registration</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="{{ asset('Registration/css/opensans-font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Registration/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css')}}">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="{{ asset('Registration/css/style.css/')}}">
</head>
<body>
{% block body %}
{% endblock %}

<script src="{{ asset('Registration/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ asset('Registration/js/jquery.steps.js')}}"></script>
<script src="{{ asset('Registration/js/main.js')}}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>