<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }
        mid {
            text-align: center;
            padding: 15px;

        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #12238b;
            color: white;
        }

    </style>
</head>
<body>

<h1 align="center">Client name: {{ commande.utilisateur.nom ~" "~ commande.utilisateur.prenom }}</h1>
<h4 align="justify">Printed on : </h4>
<h4 align="justify">Client mail : {{ commande.utilisateur.email }} </h4>
<h4 align="justify">Phone : {{ commande.utilisateur.numtel }} </h4>
<table>
    <tr>
        <th>Article</th>
        <th>Quantite</th>
        <th>Prix Unitaire</th>
        <th>Prix Total</th>
    </tr>
    {% for ligneCommande in commande.lignes %}
    <tr>
        <tr>
            <td><img src="/Uploads/Images/{{ ligneCommande.article.image }} " alt="" height="60" width="60">
            </td>
            <td>{{ ligneCommande.quantite }}</td>
            <td>{{ ligneCommande.article.prixvente ~" TND" }}</td>
            <td>{{ ligneCommande.quantite * ligneCommande.article.prixvente ~" TND" }}</td>

        </tr>
    </tr>
    {% endfor %}
</table>
<h6 align="right">Copyright © 2020 by Open Quantum</h6>

</body>
</html>