{% extends 'adminTemplate.html.twig' %}


{% block body %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Commandes</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">


                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ commande.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{% if commande.date %}{{ commande.date|date('d/m/Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Etatlivraion</th>
            <td>{{ commande.etatLivraison }}</td>
        </tr>
        <tr>
            <th>Utilisateur</th>
            <td>{{ commande.utilisateur.nom}}</td>
        </tr>
        <tr>
            <th>Livreur</th>
            <td>{% if commande.livreur is not null %}{{ commande.livreur.nom }} {% endif %}</td>
        </tr>
        </tbody>
                        </table>
                        <br>
                        <br>
                        Lignes de commande
                        <br>
                        <br>


                        <table class="table table-head-fixed text-nowrap">
        <thead>
        <tr>
            <th>Article</th>
            <th>Quantite</th>
            <th>Prix Unitaire</th>
            <th>Prix</th>
        </tr>
        </thead>
        <tbody>

        {% for ligneCommande in commande.lignes %}

            <tr>
                <td><img src="/Uploads/Images/{{ ligneCommande.article.image }}" alt="" height="60" width="60">
                   </td>
                <td>{{ ligneCommande.quantite }}</td>
                <td>{{ ligneCommande.article.prixvente ~" TND" }}</td>
                <td>{{ ligneCommande.quantite * ligneCommande.article.prixvente ~" TND" }}</td>

            </tr>
        {% endfor %}

        {% set totalFacture = 0 %}

        {% for  ligneCommande in  commande.lignes %}
            {%  set totalFacture = totalFacture + ( ligneCommande.quantite * ligneCommande.article.prixvente) %}
        {% endfor %}
        <tr><td class="text-right">Total facture </facture> : {{ totalFacture ~" TND"  }} </td> </tr>



        </tbody>
    </table>

    <ul>
        <li>
            <button> <a href="{{ path('commande_index') }}">Back to the list</a></button>
            <button type="submit" class="btn btn-info" > <a href="{{ path('commande_print', { 'id': commande.id}) }}">Imprimer</a></button>
        </li>
    </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>



    </div>
</div>


{% endblock %}

