{% extends 'adminTemplate.html.twig' %}

{#{% block body %}
    <h1>Reclamations list</h1>

    <table>
        <thead>
            <tr>
                <th>Idrec</th>
                <th>Naturerec</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td><a href="{{ path('reclamation_show', { 'idrec': reclamation.idrec }) }}">{{ reclamation.idrec }}</a></td>
                <td>{{ reclamation.naturerec }}</td>
                <td>{{ reclamation.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamation_show', { 'idrec': reclamation.idrec }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_edit', { 'idrec': reclamation.idrec }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_new') }}">Create a new reclamation</a>
        </li>
    </ul>
{% endblock %}#}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> reclamation</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace
                                Administrateur</a></li>
                        <li class="breadcrumb-item active"> reclamation</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a>bonjour</a>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id reclamation</th>
                                <th>naturerec</th>
                                <th>description</th>
                                <th>stat</th>
                                <th>Image</th>
                                <th>Id article</th>
                                <th>Id client</th>
                                <th>Id livraison </th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                                <tr>
                                    <td><a href="{{ path('reclamation_show', { 'idrec': reclamation.idrec }) }}">{{ reclamation.idrec }}</a></td>
                                    <td><a>{{ reclamation.naturerec}}</a></td>
                                    <td><a>{{ reclamation.description}}</a></td>
                                    <td align="center">{% if reclamation.stat == 'en cour' %} <i data-toggle="tooltip" title="Not Delivered!" class="fas fa-spinner fa-spin"></i>{% else %}<i data-toggle="tooltip" title="Delivered!" class="fas fa-truck fa-spin text-green"></i>{% endif %}</td>
                                    <td><img src="/Uploads/Images/{{ reclamation.image }}"  height="40" width="90"> </td>
                                    <td><a>{{ reclamation.idarticle.designation }}</a></td>
                                    <td><a>{{ reclamation.idclient.raisonsociale }}</a></td>
                                    <td><a>{{ reclamation.idLivraison.trackingcode }}</a></td>
                                    <td>
                                        <div class="row">
                                            <a  href="{{ path('reclamation_show', { 'idrec': reclamation.idrec }) }}"
                                            ><i class="material-icons" data-toggle="tooltip"
                                                title="Show">remove_red_eye</i></a>
                                            <a style="  color: #FFC107;"
                                               href="{{ path('reclamation_excel', { 'idrec': reclamation.idrec }) }}"
                                            ><i class="material-icons"
                                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>


                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

{% endblock %}
