{% extends 'baseClientTemplate.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <center><h2 class="contact-title">
            <br><br>
            veuillez remplir les champs de la reclamations !
        </h2></center>
    {{ form_start(form,{'attr': {'id': 'quickForm'}}) }}


    {{ form_widget(form.naturerec, {'attr' : {'class' : 'custom-select my-1 mr-sm-2'}}) }}

    <div class="form-group">

        <label for="exampleInputEmail1" style="font-size:150%;">{{ form_label (form.description,"description") }}</label>
        {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}

    </div>

    <div class="form-group">

        <label for="exampleInputEmail1" style="font-size:150%;">{{ form_label (form.idarticle) }}</label>
        {{ form_widget(form.idarticle, {'attr' : {'class' : 'form-control'}}) }}

    </div>

    <div class="form-group">

        <label for="exampleInputEmail1" style="font-size:150%;">{{ form_label (form.idclient) }}</label>
        {{ form_widget(form.idclient, {'attr' : {'class' : 'form-control'}}) }}

        <label for="exampleInputEmail1" style="font-size:150%;">{{ form_label (form.idlivraison) }}</label>
        {{ form_widget(form.idlivraison, {'attr' : {'class' : 'form-control'}}) }}
        <label for="exampleInputEmail1" style="font-size:150%;">{{ form_label (form.stat) }}</label>
        {{ form_widget(form.stat, {'attr' : {'class' : 'custom-select my-1 mr-sm-2'}}) }}

    </div>
        <div class="form-group">

            <label for="exampleInputEmail1">{{ form_label (form.image) }}</label>

            <div class="custom-file">
                {{ form_widget(form.image, {'attr' : {'class' : 'custom-file-input','id':'exampleInputFile'}}) }}
                {#                                    <input type="file" class="custom-file-input" id="exampleInputFile">#}
                <label class="custom-file-label" for="exampleInputFile">Choose image (jpg)</label>
            </div>
        </div>



        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('reclamation_index') }}">nn test </a>
        </li>
    </ul>

    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <br><br><br>

        <div class="alert alert-warning" role="alert">
            <h3>
                In order to post in our Reclamation you need to be connected, if you are not
                you can join us by clicking <a href="{{ path('fos_user_registration_register') }}">HERE</a>
                Or if you already have an account click <a href="{{ path('fos_user_security_login') }}" >HERE</a> to connect !
            </h3>

        </div>
    {% endif %}


{% endblock %}
{% block custom_import %}
    <!-- jQuery -->
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- bs-custom-file-input -->
    <script src="{{ asset ('back-office/plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js')}}"></script>
    <script src=" {{ asset ('front-office/jquery-validation/jquery.validate.min.js')}}"></script>

    <script src=" {{ asset ('front-office/jquery-validation/additional-methods.min.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
            $.validator.setDefaults({
                submitHandler: function () {
                    submit;
                }
            });
            $('#quickForm').validate({
                rules: {

                    description: {
                        required: true,
                        minlength: 20
                    },
                    image: {
                        required: true,
                    },


                },
                messages: {

                    description: {
                        required:'Ce champ est requis.',
                        minlength: 'Votre description doit comporter au moins 20 caractères'
                    },
                    image: {
                        required: 'Ce champ est requis.',
                    },

                },

                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });






        });



    </script>

{% endblock %}
