{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details reclamation </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('reclamation_index') }}">Liste reclamation</a></li>
                        <li class="breadcrumb-item active">Details reclamation</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ reclamation.idrec }}</li>
                <li class="list-group-item"><strong>nature reclamation:</strong> {{ reclamation.naturerec}}</li>
                <li class="list-group-item"><strong>description:</strong> {{ reclamation.description}}</li>
                <li class="list-group-item"><strong>stat:</strong> {{ reclamation.stat}}</li>
                <li class="list-group-item"><strong>article:</strong> {{ reclamation.idarticle.designation }}</li>
                <li class="list-group-item"><strong>client:</strong> {{ reclamation.idclient.raisonsociale }}</li>
                <li class="list-group-item"><strong>tracage livraison:</strong> {{ reclamation.idLivraison.trackingcode }}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('reclamation_edit', { 'idrec': reclamation.idrec }) }}";
        };
    </script>
{% endblock %}
