{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<div class="limiter">
    <div class="container-login100" style="background-image: url({{ asset('login-form/images/bg-01.jpg') }});">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

            {{ form_start(form, {'method': 'post', 'attr': {'class': 'login100-form validate-form flex-sb flex-w'}}) }}



                <span class="login100-form-title p-b-53">
						Sign Up With
					</span>

                <a href="{{  hwi_oauth_login_url('facebook') }}" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="{{  hwi_oauth_login_url('google') }}" class="btn-google m-b-20">
                    <img src="{{ asset('login-form/images/icons/icon-google.png')}}" alt="GOOGLE">
                    Google
                </a>

                <div class="p-t-31 p-b-9">
						<span class="txt1">
							FirstName
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Username is required">
                    {{ form_widget(form.nom, {'attr' : {'class' : 'input100'}}) }}

                    <span class="focus-input100"></span>
                </div>

            <div class="p-t-31 p-b-9">
						<span class="txt1">
							LastName
						</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Username is required">
                {{ form_widget(form.prenom, {'attr' : {'class' : 'input100'}}) }}

                <span class="focus-input100"></span>
            </div>

            <div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Username is required">
                {{ form_widget(form.username, {'attr' : {'class' : 'input100'}}) }}

                <span class="focus-input100"></span>
            </div>



            <div class="p-t-31 p-b-9">
						<span class="txt1">
							Phone
						</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Username is required">
                {{ form_widget(form.numtel, {'attr' : {'class' : 'input100'}}) }}

                <span class="focus-input100"></span>
            </div>


            <div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Username is required">
                {{ form_widget(form.email, {'attr' : {'class' : 'input100'}}) }}

                <span class="focus-input100"></span>
            </div>


            <div class="p-t-31 p-b-9">
						<span class="txt1">
							Pwd
						</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Username is required">
                {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'input100'}}) }}

                <span class="focus-input100"></span>
            </div>







                <div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>


            </div>
            <div class="wrap-input100 validate-input" data-validate = "Password is required">
                {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'input100'}}) }}
                <span class="focus-input100"></span>
            </div>


                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn"  id="_submit" name="_submit" type="submit"  >
                        Sign Up
                    </button>
                </div>

                <div class="w-full text-center p-t-55">
						<span class="txt2">
							Already have an account?
						</span>


                    <a href="{{path('fos_user_security_login')}}" class="txt2 bo1">
                        Log in
                    </a>
                </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>










{% endblock %}

