{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturefournisseurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Idfacturefournisseur</th>
                <th>Idfournisseur</th>
                <th>Idmodalite</th>
                <th>Idarticle</th>
                <th>Datecreation</th>
                <th>Remarque</th>
                <th>Etat</th>
                <th>Totalht</th>
                <th>Montantpaye</th>
                <th>Active</th>
                <th>Totalttc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturefournisseur in facturefournisseurs %}
            <tr>
                <td><a href="{{ path('facturefournisseur_show', { 'idfacturefournisseur': facturefournisseur.idfacturefournisseur }) }}">{{ facturefournisseur.idfacturefournisseur }}</a></td>
                <td>{{ facturefournisseur.idfournisseur }}</td>
                <td>{{ facturefournisseur.idmodalite }}</td>
                <td>{{ facturefournisseur.idarticle }}</td>
                <td>{% if facturefournisseur.datecreation %}{{ facturefournisseur.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ facturefournisseur.remarque }}</td>
                <td>{{ facturefournisseur.etat }}</td>
                <td>{{ facturefournisseur.totalht }}</td>
                <td>{{ facturefournisseur.montantpaye }}</td>
                <td>{% if facturefournisseur.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ facturefournisseur.totalttc }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facturefournisseur_show', { 'idfacturefournisseur': facturefournisseur.idfacturefournisseur }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('facturefournisseur_edit', { 'idfacturefournisseur': facturefournisseur.idfacturefournisseur }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facturefournisseur_new') }}">Create a new facturefournisseur</a>
        </li>
    </ul>
{% endblock %}
