{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturefournisseur</h1>

    <table>
        <tbody>
            <tr>
                <th>Idfacturefournisseur</th>
                <td>{{ facturefournisseur.idfacturefournisseur }}</td>
            </tr>
            <tr>
                <th>Idfournisseur</th>
                <td>{{ facturefournisseur.idfournisseur }}</td>
            </tr>
            <tr>
                <th>Idmodalite</th>
                <td>{{ facturefournisseur.idmodalite }}</td>
            </tr>
            <tr>
                <th>Idarticle</th>
                <td>{{ facturefournisseur.idarticle }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if facturefournisseur.datecreation %}{{ facturefournisseur.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ facturefournisseur.remarque }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ facturefournisseur.etat }}</td>
            </tr>
            <tr>
                <th>Totalht</th>
                <td>{{ facturefournisseur.totalht }}</td>
            </tr>
            <tr>
                <th>Montantpaye</th>
                <td>{{ facturefournisseur.montantpaye }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if facturefournisseur.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Totalttc</th>
                <td>{{ facturefournisseur.totalttc }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facturefournisseur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('facturefournisseur_edit', { 'idfacturefournisseur': facturefournisseur.idfacturefournisseur }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
