{% extends 'adminTemplate.html.twig' %}

{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Achat </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('achat_index') }}">Liste Achat</a></li>
                        <li class="breadcrumb-item active">Edit Achat</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire d'achat</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(edit_form) }}


                        <div class="card-body">
                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (edit_form.quantite) }}</label>
                                {{ form_widget(edit_form.quantite, {'attr' : {'class' : 'form-control',}}) }}

                            </div>

                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.datecreation) }}</label>
                                {{ form_widget(edit_form.datecreation, {'attr' : {'data-format' : 'dd-mm-yyyy'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.totalht) }}</label>
                                {{ form_widget(edit_form.totalht, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.totalttc) }}</label>
                                {{ form_widget(edit_form.totalttc, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.remarque) }}</label>
                                {{ form_widget(edit_form.remarque, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.etat) }}</label>
                                {{ form_widget(edit_form.etat, {'attr' : {'class' : 'form-control','name':'mee','placeholder':' '}}) }}

                            </div>



                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (edit_form.idfournisseur,'Founisseur') }}</label>


                                {{ form_widget(edit_form.idfournisseur, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>


                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (edit_form.idarticle,'Article') }}</label>


                                {{ form_widget(edit_form.idarticle, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>


                            <div  class="form-group mb-0">
                                <div  class="custom-control custom-checkbox">
                                    {{ form_widget(edit_form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                    <input  checked  disabled     type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Active</label>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row ">
                            <button type="submit" class="btn btn-primary">Modifier</button>

                            {# don't render unrendered fields #}
                            {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}
                            <button type="submit" class="btn btn-danger" >Supprimer</button>
                            {{ form_end(delete_form) }}

                            </div>
                        </div>



                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}
