{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Achat </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('achat_index') }}">Liste Achat</a></li>
                        <li class="breadcrumb-item active">New Achat</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire d'achat </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(form, {'attr': {'id': 'quickForm'}}) }}


                            <div class="card-body">
                                <div class="form-group">


                                    <label for="exampleInputEmail1">{{ form_label (form.quantite) }}</label>
                                    {{ form_widget(form.quantite, {'attr' : {'class' : 'form-control',}}) }}

                                </div>

                                <div class="form-group">

                                    <label for="exampleInputEmail1">{{ form_label (form.datecreation) }}</label>
                                    {{ form_widget(form.datecreation, {'attr' : {'data-format' : 'dd-mm-yyyy'}}) }}

                                </div>
                                <div class="form-group">

                                    <label for="exampleInputEmail1">{{ form_label (form.totalht) }}</label>
                                    {{ form_widget(form.totalht, {'attr' : {'class' : 'form-control'}}) }}

                                </div>
                                <div class="form-group">

                                    <label for="exampleInputEmail1">{{ form_label (form.totalttc) }}</label>
                                    {{ form_widget(form.totalttc, {'attr' : {'class' : 'form-control'}}) }}

                                </div>
                                <div class="form-group">

                                    <label for="exampleInputEmail1">{{ form_label (form.remarque) }}</label>
                                    {{ form_widget(form.remarque, {'attr' : {'class' : 'form-control'}}) }}

                                </div>
                                <div class="form-group">

                                    <label for="exampleInputEmail1">{{ form_label (form.etat) }}</label>
                                    {{ form_widget(form.etat, {'attr' : {'class' : 'form-control','name':'mee','placeholder':' '}}) }}

                                </div>



                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ form_label (form.idfournisseur,'Founisseur') }}</label>


                                    {{ form_widget(form.idfournisseur, {'attr' : {'class' : 'form-control select2'}}) }}

                                </div>


                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{ form_label (form.idarticle,'Article') }}</label>


                                    {{ form_widget(form.idarticle, {'attr' : {'class' : 'form-control select2'}}) }}

                                </div>




                        <div class="form-group mb-0">
                            <div class="custom-control custom-checkbox">
                                {{ form_widget(form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                <input  checked  disabled type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                <label class="custom-control-label" for="exampleCheck1">Active</label>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset  </button>
                            </div>

                        </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>



{% endblock %}
{% block custom_import %}
    <!-- jQuery -->
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- bs-custom-file-input -->
    <script src="{{ asset ('back-office/plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js')}}"></script>
    <script src=" {{ asset ('back-office/plugins/jquery-validation/jquery.validate.min.js')}}"></script>

    <script src=" {{ asset ('back-office/plugins/jquery-validation/additional-methods.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
        $.validator.setDefaults({
            submitHandler: function () {
                submit;
            }
        });
        $('#quickForm').validate({
            rules: {
                quantite: {
                    required: true,
                    number: true,

                },
                totalht: {
                    required: true,
                    number: true,

                },

                totalttc: {
                    required: true,
                    number: true,

                },

                remarque: {
                    required: true,
                },
                etat: {
                    required: true,
                    number: true,
                },
                founisseur: {
                    required: true,

                },
                article: {
                    required: true,

                },
            },
                messages: {
                    quantite: {
                        required: 'Ce champ est requis.',
                        number: 'Ce champ est nombre .',
                    },
                    totalht: {
                        required: 'Ce champ est requis.',
                        number: 'Ce champ est nombre .',
                    },

                    totalttc: {
                        required: 'Ce champ est requis.',
                        number: 'Ce champ est nombre .',
                    },
                    remarque: {
                        required: 'Ce champ est requis.',
                    },
                    etat: {
                        required: 'Ce champ est requis.',

                    },
                    founisseur: {
                        required: 'Ce champ est requis.',

                    },
                    article: {
                        required: 'Ce champ est requis.',

                    },
                },

                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
    });



</script>

{% endblock %}


