{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Achat </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('achat_index') }}">Liste Achat</a></li>
                        <li class="breadcrumb-item active">Details Achat</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ achat.idachat }}</li>
                <li class="list-group-item"><strong>Qte:</strong> {{ achat.quantite}}</li>
                <li class="list-group-item"><strong>Date-Creation:</strong> {% if achat.datecreation %}{{ achat.datecreation|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item"><strong>totalht:</strong> {{ achat.totalht }}</li>
                <li class="list-group-item"><strong>totalttc:</strong> {{ achat.totalttc }}</li>
                <li class="list-group-item"><strong>Remarque:</strong> {{ achat.remarque }}</li>
                <li class="list-group-item"><strong>Fournisseur:</strong> {{ achat.idfournisseur.raisonsociale }}</li>
                <li class="list-group-item"><strong>Article:</strong> {{ achat.idarticle.designation }}</li>
                <li class="list-group-item"><strong>Active:</strong> {% if achat.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

document.getElementById("mybutton").onclick = function () {
location.href = "{{ path('achat_edit', { 'idachat': achat.idachat }) }}";
};
    </script>
{% endblock %}
