{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    <form action="{{ path("fos_user_security_check") }}" method="post">#}


{#        <label for="username">{{ 'security.login.username'|trans }}</label>#}
{#        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />#}

{#        <label for="password">{{ 'security.login.password'|trans }}</label>#}
{#        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />#}

{#        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
{#        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

{#        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
    </form>

<div class="limiter">
    <div class="container-login100" style="background-image: url({{ asset('login-form/images/bg-01.jpg') }});">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" action="{{ path("fos_user_security_check") }}" method="post" >

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

                <a href="{{  hwi_oauth_login_url('facebook') }}" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="{{  hwi_oauth_login_url('google') }}" class="btn-google m-b-20">
                    <img src="{{ asset('login-form/images/icons/icon-google.png')}}" alt="GOOGLE">
                    Google
                </a>

                <div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Username is required">
{#                    <input class="input100" type="text" name="username" >#}
                    <input class="input100" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

                    <a href="#" class="txt2 bo1 m-l-5">
                        Forgot?
                    </a>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
{#                    <input class="input100" type="password" name="pass" >#}
                    <input class="input100"  type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                    <span class="focus-input100"></span>
                </div>

                <div class="form-check">
                    <br>
						<span class="txt1">
							Remember me
						</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{#                    <input type="checkbox"  id="materialChecked2" checked>#}
                    <input  class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </div>



                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn"  id="_submit" name="_submit" type="submit"  >
                        Sign In
                    </button>
                </div>

                <div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

                    <a href="#" class="txt2 bo1">
                        Sign up now
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


{% endblock fos_user_content %}