{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="UTF-8" />#}
{#    </head>#}
{#    <body>#}
{#        <div>#}
{#            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
{#                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
{#                <a href="{{ path('fos_user_security_logout') }}">#}
{#                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
{#                </a>#}
{#            {% else %}#}
{#                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
{#            {% endif %}#}
{#        </div>#}

{#        {% if app.request.hasPreviousSession %}#}
{#            {% for type, messages in app.session.flashbag.all() %}#}
{#                {% for message in messages %}#}
{#                    <div class="flash-{{ type }}">#}
{#                        {{ message }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        {% endif %}#}

{#        <div>#}
{#            {% block fos_user_content %}#}
{#            {% endblock fos_user_content %}#}
{#        </div>#}
{#    </body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Open Quantum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{asset('login-form/images/icons/favicon.ico')}}"   />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login-form/css/main.css')}} ">
    <!--===============================================================================================-->
</head>
<body>

{% block fos_user_content %}

{% endblock fos_user_content %}

<!--===============================================================================================-->

<script src="{{ asset('login-form/vendor/jquery/jquery-3.2.1.min.js')}}"></script>

<!--===============================================================================================-->
<script src="{{ asset('login-form/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login-form/vendor/bootstrap/js/popper.js')}}"></script>
<script src="{{ asset('login-form/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login-form/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login-form/vendor/daterangepicker/moment.min.js')}}"></script>
<script src="{{ asset('login-form/vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login-form/vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login-form/js/main.js')}}"></script>

</body>
</html>


