{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Familles list</h1>

    <table>
        <thead>
            <tr>
                <th>Idfamille</th>
                <th>Libelle</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for famille in familles %}
            <tr>
                <td><a href="{{ path('famille_show', { 'idfamille': famille.idfamille }) }}">{{ famille.idfamille }}</a></td>
                <td>{{ famille.libelle }}</td>
                <td>{% if famille.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('famille_show', { 'idfamille': famille.idfamille }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('famille_edit', { 'idfamille': famille.idfamille }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('famille_new') }}">Create a new famille</a>
        </li>
    </ul>
{% endblock %}
