{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Famille</h1>

    <table>
        <tbody>
            <tr>
                <th>Idfamille</th>
                <td>{{ famille.idfamille }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ famille.libelle }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if famille.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('famille_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('famille_edit', { 'idfamille': famille.idfamille }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
