{% extends 'adminTemplate.html.twig' %}

{% block body %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> Liste Client</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace
                                Administrateur</a></li>
                        <li class="breadcrumb-item active"> Liste Client</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a href="{{ path('client_new') }}">Create a new client</a>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>IdClient</th>
                                <th>RaisonSociale</th>
                                <th>NumTel</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Matricule-Fiscale</th>
                                <th>Contact</th>
                                <th>Active</th>
                                <th width="50px" >Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>
                                        <a href="{{ path('client_show', { 'idclient': client.idclient }) }}">{{ client.idclient }}</a>
                                    </td>
                                    <td>{{ client.raisonsociale }}</td>
                                    <td>{{ client.numtel }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.adresse }}</td>
                                    <td>{{ client.matfiscale }}</td>
                                    <td>{{ client.contact }}</td>
                                    <td>{% if client.active %}Yes{% else %}No{% endif %}</td>
                                    <td>
                                        <div class="row">
                                            <a  href="{{ path('client_show', { 'idclient': client.idclient }) }}"
                                            ><i class="material-icons" data-toggle="tooltip"
                                                title="Show">remove_red_eye</i></a>
                                            <a style="  color: #FFC107;"
                                               href="{{ path('client_edit', { 'idclient': client.idclient }) }}"
                                            ><i class="material-icons"
                                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>



                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Idclient</th>
                                <th>RaisonSociale</th>
                                <th>NumTel</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Matricule-Fiscale</th>
                                <th>Contact</th>
                                <th>Active</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

{% endblock %}
