{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Client </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('client_index') }}">Liste Client</a></li>
                        <li class="breadcrumb-item active">Details Client</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ client.idclient }}</li>
                <li class="list-group-item"><strong>RaisonSociale:</strong> {{ client.raisonsociale}}</li>
                <li class="list-group-item"><strong>NumTel:</strong>{{  client.numtel }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ client.email }}</li>
                <li class="list-group-item"><strong>Adresse:</strong> {{ client.adresse }}</li>
                <li class="list-group-item"><strong>Matricule-Fiscale:</strong> {{ client.matfiscale }}</li>
                <li class="list-group-item"><strong>Contact:</strong> {{ client.contact }}</li>
                <li class="list-group-item"><strong>Active:</strong> {% if client.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('client_edit', { 'idclient': client.idclient }) }}";
        };
    </script>
{% endblock %}
