{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Modeles list</h1>

    <table>
        <thead>
            <tr>
                <th>Idmodele</th>
                <th>Libelle</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td><a href="{{ path('modele_show', { 'idmodele': modele.idmodele }) }}">{{ modele.idmodele }}</a></td>
                <td>{{ modele.libelle }}</td>
                <td>{% if modele.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modele_show', { 'idmodele': modele.idmodele }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modele_edit', { 'idmodele': modele.idmodele }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modele_new') }}">Create a new modele</a>
        </li>
    </ul>
{% endblock %}
