{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Modele</h1>

    <table>
        <tbody>
            <tr>
                <th>Idmodele</th>
                <td>{{ modele.idmodele }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ modele.libelle }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if modele.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modele_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modele_edit', { 'idmodele': modele.idmodele }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
