{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Constructeur </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('constructeur_index') }}">Liste Constructeur</a></li>
                        <li class="breadcrumb-item active">New Constructeur</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire du Constructeur </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(edit_form) }}


                        <div class="card-body">
                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (edit_form.libelle) }}</label>
                                {{ form_widget(edit_form.libelle, {'attr' : {'class' : 'form-control',}}) }}

                            </div>





                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(edit_form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                    <input  checked  disabled type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Active</label>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset  </button>
                                </div>

                            </div>
                        </div>

                        {{ form_end(edit_form) }}
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>


{% endblock %}
