{% extends 'adminTemplate.html.twig' %}

{% block body %}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Liste Constructeur</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace
                            Administrateur</a></li>
                    <li class="breadcrumb-item active"> Liste Constructeur</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <a href="{{ path('constructeur_new') }}">Create a new constructeur</a>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                <th>Idconstructeur</th>
                <th>Libelle</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constructeur in constructeurs %}
            <tr>
                <td><a href="{{ path('constructeur_show', { 'idconstructeur': constructeur.idconstructeur }) }}">{{ constructeur.idconstructeur }}</a></td>
                <td>{{ constructeur.libelle }}</td>
                <td>{% if constructeur.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="row">
                        <a  href="{{ path('constructeur_show', { 'idconstructeur': constructeur.idconstructeur }) }}"
                        ><i class="material-icons" data-toggle="tooltip"
                            title="Show">remove_red_eye</i></a>
                        <a style="  color: #FFC107;"
                           href="{{ path('constructeur_edit', { 'idconstructeur': constructeur.idconstructeur }) }}"
                        ><i class="material-icons"
                            data-toggle="tooltip" title="Edit">&#xE254;</i></a>



                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                        <tfoot>
                        <tr>
                            <th>Idconstructeur</th>
                            <th>Libelle</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

{% endblock %}