{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Article </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('article_index') }}">Liste Article</a></li>
                        <li class="breadcrumb-item active">Edit Article</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire d'article </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(edit_form) }}


                        <div class="card-body">
                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (edit_form.refinterne) }}</label>
                                {{ form_widget(edit_form.refinterne, {'attr' : {'class' : 'form-control',}}) }}

                            </div>

                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (edit_form.reffourn) }}</label>
                                {{ form_widget(edit_form.reffourn, {'attr' : {'class' : 'form-control',}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.designation) }}</label>
                                {{ form_widget(edit_form.designation, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.prixachat) }}</label>
                                {{ form_widget(edit_form.prixachat, {'attr' : {'class' : 'form-control'}}) }}

                            </div>



                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.prixvente) }}</label>
                                {{ form_widget(edit_form.prixvente, {'attr' : {'class' : 'form-control'}}) }}

                            </div>



                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.description) }}</label>
                                {{ form_widget(edit_form.description, {'attr' : {'class' : 'form-control'}}) }}

                            </div>


                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.image) }}</label>

                                <div class="custom-file">
                                    {{ form_widget(edit_form.image, {'attr' : {'class' : 'custom-file-input','id':'exampleInputFile','required':false}}) }}
                                    {#                                    <input type="file" class="custom-file-input" id="exampleInputFile">#}
                                    <label class="custom-file-label" for="exampleInputFile">Choose image (jpg)</label>
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (edit_form.codebarre) }}</label>
                                {{ form_widget(edit_form.codebarre, {'attr' : {'class' : 'form-control','name':'mee','placeholder':' '}}) }}

                            </div>





                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (edit_form.idunite,'Unite') }}</label>


                                {{ form_widget(edit_form.idunite, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (edit_form.idmodele,'Modele') }}</label>


                                {{ form_widget(edit_form.idmodele, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (edit_form.idtaxe,'Taxe') }}</label>


                                {{ form_widget(edit_form.idtaxe, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (edit_form.idcategorie,'Categorie') }}</label>


                                {{ form_widget(edit_form.idcategorie, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>




                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(edit_form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                    <input  checked  disabled type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Active</label>
                                </div>
                            </div>



                            <div class="card-footer">
                                <div class="row ">
                                    <button type="submit" class="btn btn-primary">Modifier</button>

                                    {# don't render unrendered fields #}
                                    {{ form_end(edit_form) }}

                                    {{ form_start(delete_form) }}
                                    <button type="submit" class="btn btn-danger" >Supprimer</button>
                                    {{ form_end(delete_form) }}

                                </div>
                            </div>
                        </div>

                        {{ form_end(edit_form) }}
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>


{% endblock %}

{% block custom_import %}
    <!-- jQuery -->
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- bs-custom-file-input -->
    <script src="{{ asset ('back-office/plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>

{% endblock %}

