{% extends 'adminTemplate.html.twig' %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Article</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Espace Administrateur</a></li>
                    <li class="breadcrumb-item active">Article</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <a href="{{ path('article_new') }}">Create a new article</a>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                <th>Idarticle</th>

                <th>Designation</th>
                <th>Prixachat</th>
                <th>Prixvente</th>
{#                <th>Image</th>#}
                <th>Codebarre</th>


                <th>Categorie</th>
                <th>Modele</th>
                 <th>Unite</th>
                  <th>Taxe </th>



                <th>Active</th>
                 <th>QrCode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'idarticle': article.idarticle }) }}">{{ article.idarticle }}</a></td>
                <td>{{ article.designation }}</td>
                <td>{{ article.prixachat }}</td>
                <td>{{ article.prixvente }}</td>
{#                <td>{{ article.image }}</td>#}
                <td>{{ article.codebarre }}</td>


                <td>{{ article.idcategorie.libelle  }}</td>
                <td>{{ article.idmodele.libelle  }}</td>
                <td>{{ article.idunite.libelle }}</td>
                <td>{{ article.idtaxe.libelle  }}</td>


                <td>{% if article.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    {{ barcode({code: 'reference Interne: ' ~ article.refinterne ~ ' \n reference Externe:'~ article.reffourn ~ ' \n Designation:' ~ article.designation ~ ' \n Modele:' ~ article.idmodele.libelle, type: 'qrcode', format: 'html', width: 2, height: 2, color: 'red'}) }}
                </td>

                <td>
                    <div class="row">
                        <a  href="{{ path('article_show', { 'idarticle': article.idarticle }) }}"
                        ><i class="material-icons" data-toggle="tooltip"
                            title="Show">remove_red_eye</i></a>
                        <a style="  color: #FFC107;"
                           href="{{ path('article_edit', { 'idarticle': article.idarticle }) }}"
                        ><i class="material-icons"
                            data-toggle="tooltip" title="Edit">&#xE254;</i></a>



                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                        <tfoot>
                        <tr>
                            <th>Reffourn</th>
                            <th>Designation</th>
                            <th>Prixachat</th>
                            <th>Prixvente</th>
{#                            <th>Image</th>#}
                            <th>Codebarre</th>
                            <th>Categorie</th>
                            <th>Codebarre</th>
                            <th>Unite</th>
                            <th>Taxe </th>
                            <th>Active</th>
                            <th>QrCode</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

{% endblock %}