{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Article </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('article_index') }}">Liste Article</a></li>
                        <li class="breadcrumb-item active">New Article</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire d'article </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(form, {'attr': {'id': 'quickForm'}}) }}


                        <div class="card-body">
                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (form.refinterne,"Reference Interne") }}</label>
                                {{ form_widget(form.refinterne, {'attr' : {'class' : 'form-control'}}) }}



                            </div>

                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (form.reffourn,"reference Fournisseur") }}</label>
                                {{ form_widget(form.reffourn, {'attr' : {'class' : 'form-control'}}) }}


                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.designation,"Designation") }}</label>
                                {{ form_widget(form.designation, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.prixachat,"Prix Achat") }}</label>
                                {{ form_widget(form.prixachat, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.prixvente,"Prix Vente") }}</label>
                                {{ form_widget(form.prixvente, {'attr' : {'class' : 'form-control'}}) }}


                            </div>


                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.description) }}</label>
                                {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}

                            </div>


                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.image) }}</label>

                                <div class="custom-file">
                                 {{ form_widget(form.image, {'attr' : {'class' : 'custom-file-input','id':'exampleInputFile'}}) }}
{#                                    <input type="file" class="custom-file-input" id="exampleInputFile">#}
                                    <label class="custom-file-label" for="exampleInputFile">Choose image (jpg)</label>
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.codebarre) }}</label>
                                {{ form_widget(form.codebarre, {'attr' : {'class' : 'form-control','name':'mee','placeholder':' '}}) }}

                            </div>


                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (form.idunite,'Unite') }}</label>


                                {{ form_widget(form.idunite, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (form.idmodele,'Modele') }}</label>


                                {{ form_widget(form.idmodele, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (form.idtaxe,'Taxe') }}</label>


                                {{ form_widget(form.idtaxe, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ form_label (form.idcategorie,'Categorie') }}</label>


                                {{ form_widget(form.idcategorie, {'attr' : {'class' : 'form-control select2'}}) }}

                            </div>


                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                    <input  checked  disabled type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Active</label>
                                </div>
                            </div>

{#                            <div class="form-group">#}
{#                                <label for="exampleInputEmail1">Email address</label>#}
{#                                <input  name="refinterne" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
{#                            </div>#}






                            <div class="form-group mb-0">
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset  </button>
                                </div>

                            </div>
                        </div>


                        {{ form_end(form) }}
                    </div>
                    <!-- /.card -->
                </div>

                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>


{% endblock %}
{% block custom_import %}
<!-- jQuery -->
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- bs-custom-file-input -->
    <script src="{{ asset ('back-office/plugins/bs-custom-file-input/bs-custom-file-input.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js')}}"></script>
    <script src=" {{ asset ('back-office/plugins/jquery-validation/jquery.validate.min.js')}}"></script>

    <script src=" {{ asset ('back-office/plugins/jquery-validation/additional-methods.min.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
            $.validator.setDefaults({
                submitHandler: function () {
                 submit;
                }
            });
            $('#quickForm').validate({
                rules: {
                    refinterne: {
                        required: true,
                        minlength: 5,

                    },
                    reffourn: {
                        required: true,

                    },
                    designation: {
                        required: true,
                    },
                    prixachat: {
                        required: true,
                        number: true,
                    },
                    prixvente: {
                        required: true,
                        number: true,
                    },
                    description: {
                        required: true,
                        minlength: 20
                    },
                    image: {
                        required: true,
                    },
                    codebarre: {
                        required: true,
                        minlength: 6,
                        number: true,
                    },

                },
                messages: {
                    refinterne: {
                        required: 'Ce champ est requis.',
                        minlength: 'Votre Reference  doit comporter au moins 5 caractères',
                    },
                    reffourn: {
                        required: 'Ce champ est requis.',

                    },
                    designation: {
                        required: 'Ce champ est requis.',
                    },
                    prixachat: {
                        required: 'Ce champ est requis.',
                        number: 'Ce champ est nombre .',
                    },
                    prixvente: {
                        required: 'Ce champ est requis.',
                        number: 'Ce champ est nombre .',
                    },
                    description: {
                        required:'Ce champ est requis.',
                        minlength: 'Votre description doit comporter au moins 20 caractères'
                    },
                    image: {
                        required: 'Ce champ est requis.',
                    },
                    codebarre: {
                        required: 'Ce champ est requis.',
                        minlength: 'Votre code a barre  doit comporter au moins 6 caractères',
                        number: 'Ce champ est nombre .',

                    },
                },

                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });






        });



    </script>



{% endblock %}

