{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Article </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('article_index') }}">Liste Article</a></li>
                        <li class="breadcrumb-item active">Details Article</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ article.idarticle }}</li>
                <li class="list-group-item"><strong>refinterne:</strong> {{ article.refinterne}}</li>
                <li class="list-group-item"><strong>reffourn:</strong> {{article.reffourn }}</li>
                <li class="list-group-item"><strong>Designation:</strong> {{ article.designation }}</li>
                <li class="list-group-item"><strong>Prixachat:</strong> {{ article.prixachat }}</li>
                <li class="list-group-item"><strong>Prixventen:</strong> {{article.prixvente }}</li>
                <li class="list-group-item"><strong>Codebarre:</strong> {{ article.codebarre }}</li>



                <li class="list-group-item"><strong>Categorie:</strong> {{ article.idcategorie.libelle }}</li>
                <li class="list-group-item"><strong>Modele:</strong> {{ article.idmodele.libelle}}</li>
                <li class="list-group-item"><strong>Unite:</strong> {{article.idunite.libelle }}</li>
                <li class="list-group-item"><strong>Taxe:</strong> {{ article.idtaxe.libelle  }}</li>




           <li class="list-group-item"><strong>Image:</strong>   <a href="test">   {{ article.image }} </a> </li>
                <li class="list-group-item"><strong>Active:</strong> {% if article.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('article_edit', { 'idarticle': article.idarticle }) }}";
        };
    </script>
{% endblock %}
