{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Contrats list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcontrat</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td><a href="{{ path('contrat_show', { 'idcontrat': contrat.idcontrat }) }}">{{ contrat.idcontrat }}</a></td>
                <td>{% if contrat.datedebut %}{{ contrat.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if contrat.datefin %}{{ contrat.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ contrat.etat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contrat_show', { 'idcontrat': contrat.idcontrat }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contrat_edit', { 'idcontrat': contrat.idcontrat }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contrat_new') }}">Create a new contrat</a>
        </li>
    </ul>
{% endblock %}
