{% extends 'adminTemplate.html.twig' %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categorie</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Espace Administrateur</a></li>
                        <li class="breadcrumb-item active">Categories list</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


<section class="content">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <a href="{{ path('categorie_new') }}">Create a new categorie</a>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                <th>Idcategorie</th>
                <th>Libelle</th>
                <th>Active</th>
                <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'idcategorie': categorie.idcategorie }) }}">{{ categorie.idcategorie }}</a></td>
                <td>{{ categorie.libelle }}</td>
                <td>{% if categorie.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorie_show', { 'idcategorie': categorie.idcategorie }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categorie_edit', { 'idcategorie': categorie.idcategorie }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                        <tfoot>
                        <tr>
                            <th>Idcategorie</th>
                            <th>Libelle</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{% endblock %}
                    {% block custom_import %}
                        <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js')}}"></script>
                        <!-- Bootstrap 4 -->
                        <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js')}}" ></script>
                        <!-- DataTables -->
                        <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js')}}"></script>
                        <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
                        <!-- AdminLTE App -->
                        <script src="{{ asset ('back-office/dist/js/adminlte.min.js')}}"></script>
                        <!-- AdminLTE for demo purposes -->
                        <script src="{{ asset ('back-office/dist/js/demo.js')}}"></script>
                        <!-- page script -->
                        <script>
                            $(function () {
                                $("#example1").DataTable();
                                $('#example2').DataTable({
                                    "paging": true,
                                    "lengthChange": false,
                                    "searching": false,
                                    "ordering": true,
                                    "info": true,
                                    "autoWidth": false,
                                });
                            });
                        </script>

                    {% endblock %}

