
{% extends 'adminTemplate.html.twig' %}
{#
{% block body %}
    <h1>Categorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Idcategorie</th>
                <td>{{ categorie.idcategorie }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ categorie.libelle }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if categorie.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorie_edit', { 'idcategorie': categorie.idcategorie }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %} #}


{% block body %}
    <h1 class="my-4">Details
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ categorie.idcategorie }}</li>
                <li class="list-group-item"><strong>Qte:</strong> {{ categorie.libelle}}</li>

                <li class="list-group-item"><strong>Active:</strong> {% if categorie.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorie_edit', { 'idcategorie': categorie.idcategorie }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
