{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idsociete</th>
                <th>Raisonsociale</th>
                <th>Matfiscale</th>
                <th>Numtel1</th>
                <th>Numtel2</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Pays</th>
                <th>Devise</th>
                <th>Logo</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td><a href="{{ path('societe_show', { 'idsociete': societe.idsociete }) }}">{{ societe.idsociete }}</a></td>
                <td>{{ societe.raisonsociale }}</td>
                <td>{{ societe.matfiscale }}</td>
                <td>{{ societe.numtel1 }}</td>
                <td>{{ societe.numtel2 }}</td>
                <td>{{ societe.email }}</td>
                <td>{{ societe.adresse }}</td>
                <td>{{ societe.ville }}</td>
                <td>{{ societe.codepostal }}</td>
                <td>{{ societe.pays }}</td>
                <td>{{ societe.devise }}</td>
                <td>{{ societe.logo }}</td>
                <td>{% if societe.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('societe_show', { 'idsociete': societe.idsociete }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('societe_edit', { 'idsociete': societe.idsociete }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('societe_new') }}">Create a new societe</a>
        </li>
    </ul>
{% endblock %}
