{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <h1>Societe creation</h1>#}

{#    {{ form_start(formSociete) }}#}

{#        {{ form_widget(formSociete) }}#}
{#    {{ form_start(formUtilisateur) }}#}
{#    {{ form_widget(formUtilisateur) }}#}
{#    <input type="submit" value="Create" />#}
{#    {{ form_end(formUtilisateur) }}#}
{#    {{ form_end(formSociete) }}#}



{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('societe_index') }}">Back to the list</a>#}
{#        </li>#}
{#    </ul>#}
{#{% endblock %}#}

{% extends 'registration.html.twig' %}

 {% block body %}
     {{ form_start(formSociete,{'attr' : {'id' : 'form_All'}}) }}
     {{ form_start(formUtilisateur) }}
     <div class="page-content">
         <div class="form-v1-content">
             <div class="wizard-form">
                 <div class="form-register">

                     <div id="form-total">
                         <!-- SECTION 1 -->
                         <h2>
                             <p class="step-icon"><span>01</span></p>
                             <span class="step-text">Entreprise Infomation</span>
                         </h2>
                         <section>

                             <div class="inner">
                                 <div class="wizard-header">
                                     <h3 class="heading">Entreprise Infomations</h3>
                                     <p>Please enter your entreprise infomation and proceed to the next step so we can build your account.  </p>
                                 </div>
                                 <div class="form-row">
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.raisonsociale,'Raison Sociale') }}</legend>
                                        {{ form_widget(formSociete.raisonsociale, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.matfiscale,'Matricule Fiscale') }}</legend>
                                             {{ form_widget(formSociete.matfiscale, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                 </div>
                                 <div class="form-row">
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.numtel1,'Num Tel 1') }}</legend>
                                             {{ form_widget(formSociete.numtel1, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.numtel2,'Num Tel 2') }}</legend>
                                             {{ form_widget(formSociete.numtel2, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                 </div>
                                 <div class="form-row">
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.pays,'Pays') }}</legend>
                                             {{ form_widget(formSociete.pays, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.ville,'ville') }}</legend>
                                             {{ form_widget(formSociete.ville, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                 </div>
                                 <div class="form-row">
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.adresse,'Adresse') }}</legend>
                                             {{ form_widget(formSociete.adresse, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.codepostal,'Code Postal') }}</legend>
                                             {{ form_widget(formSociete.codepostal, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                 </div>
                                 <div class="form-row">
                                     <div class="form-holder form-holder-2">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.email,'Society Email') }}</legend>
                                             {{ form_widget(formSociete.email, {'attr' : {'class' : 'form-control','pattern':'[^@]+@[^@]+.[a-zA-Z]{2,6}','placeholder':'example@email.com'}}) }}
{#                                             <input type="text" name="your_email" id="your_email" class="form-control" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="example@email.com" required>#}
                                         </fieldset>
                                     </div>
                                 </div>

                                 <div class="form-row">
                                     <div class="form-holder form-holder-2">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.devise,'Devis ') }}</legend>
                                             {{ form_widget(formSociete.devise, {'attr' : {'class' : 'form-control'}}) }}
                                         </fieldset>
                                     </div>
                                 </div>

                                 <div class="form-row">
                                     <div class="form-holder form-holder-2">
                                         <fieldset>
                                             <legend>{{ form_label (formSociete.logo,'Your Logo ') }}</legend>
                                             {{ form_widget(formSociete.logo, {'attr' : {'class' : 'custom-file-input'}}) }}
                                         </fieldset>
                                     </div>
                                 </div>


                             </div>

                         </section>
                         <!-- SECTION 2 -->
                         <h2>
                             <p class="step-icon"><span>02</span></p>
                             <span class="step-text">Personal Informations</span>
                         </h2>
                         <section>

                             <div class="inner">
                                 <div class="wizard-header">
                                     <h3 class="heading">Entreprise Informations</h3>
                                     <p>Please enter your Personal infomation and proceed to the next step so we can build your accounts.</p>
                                 </div>




                                 <div class="form-row">
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formUtilisateur.nom,'Nom') }}</legend>
                                             {{ form_widget(formUtilisateur.nom, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formUtilisateur.prenom,'Prenom') }}</legend>
                                             {{ form_widget(formUtilisateur.prenom, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                 </div>




                                 <div class="form-row">
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formUtilisateur.numtel,'Num Tel') }}</legend>
                                             {{ form_widget(formUtilisateur.numtel, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                     <div class="form-holder">
                                         <fieldset>
                                             <legend>{{ form_label (formUtilisateur.username,'username') }}</legend>
                                             {{ form_widget(formUtilisateur.username, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>
                                 </div>
























                                 <div class="form-row">

                                     <div class="form-holder">
                                         <fieldset>

                                             <legend>{{ form_label (formUtilisateur.plainPassword.first,'password') }}</legend>
                                             {{ form_widget(formUtilisateur.plainPassword.first, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>

                                     <div class="form-holder">
                                         <fieldset>

                                             <legend>{{ form_label (formUtilisateur.plainPassword.second,'Confirme Password') }}</legend>
                                             {{ form_widget(formUtilisateur.plainPassword.second, {'attr' : {'class' : 'form-control'}}) }}

                                         </fieldset>
                                     </div>





                             </div>

                                 <div class="form-row">
                                     <div class="form-holder form-holder-2">
                                         <fieldset>
                                             <legend>{{ form_label (formUtilisateur.email,'Society Email') }}</legend>
                                             {{ form_widget(formUtilisateur.email, {'attr' : {'class' : 'form-control','pattern':'[^@]+@[^@]+.[a-zA-Z]{2,6}','placeholder':'example@email.com'}}) }}
                                         </fieldset>
                                     </div>
                                 </div>
                             </div>
                         </section>
                         <!-- SECTION 3 -->

                     </div>
                 </div>
             </div>
         </div>
     </div>
   {{ form_end(formUtilisateur) }}
    {{ form_end(formSociete) }}
 {% endblock %}

