{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile Entreprise </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('societe_profile') }}">Profile Entreprise</a></li>
                        <li class="breadcrumb-item active">Profile Entreprise</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="/Uploads/Images/{{currentSociete.logo}}"
                     alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{currentSociete.raisonsociale}}</h3>

            <p class="text-muted text-center">Your Entreprise Details</p>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Matricule Fiscale :</b> {{currentSociete.matfiscale}}
                </li>
                <li class="list-group-item">
                    <b>Numero Tel 1 :</b>  {{currentSociete.numtel1}}
                </li>
                <li class="list-group-item">
                    <b>Numero Tel 2 :</b>  {{currentSociete.numtel2}}
                </li>
                <li class="list-group-item">
                    <b>Email :</b>  {{currentSociete.email}}
                </li>
                <li class="list-group-item">
                    <b>Adresse :</b>  {{currentSociete.adresse}}
                </li>
                <li class="list-group-item">
                    <b>Ville :</b>  {{currentSociete.ville}}
                </li>
                <li class="list-group-item">
                    <b>Code Postale :</b>  {{currentSociete.codepostal}}
                </li>
                <li class="list-group-item">
                    <b>Pays :</b>  {{currentSociete.pays}}
                </li>
                <li class="list-group-item">
                    <b>Devise :</b>  {{currentSociete.devise}}

                </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Edit Information</b></a>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}
