{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societe</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsociete</th>
                <td>{{ societe.idsociete }}</td>
            </tr>
            <tr>
                <th>Raisonsociale</th>
                <td>{{ societe.raisonsociale }}</td>
            </tr>
            <tr>
                <th>Matfiscale</th>
                <td>{{ societe.matfiscale }}</td>
            </tr>
            <tr>
                <th>Numtel1</th>
                <td>{{ societe.numtel1 }}</td>
            </tr>
            <tr>
                <th>Numtel2</th>
                <td>{{ societe.numtel2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ societe.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ societe.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ societe.ville }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ societe.codepostal }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ societe.pays }}</td>
            </tr>
            <tr>
                <th>Devise</th>
                <td>{{ societe.devise }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ societe.logo }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if societe.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('societe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('societe_edit', { 'idsociete': societe.idsociete }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
