{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Taxes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idtaxe</th>
                <th>Libelle</th>
                <th>Pourcentage</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taxe in taxes %}
            <tr>
                <td><a href="{{ path('taxe_show', { 'idtaxe': taxe.idtaxe }) }}">{{ taxe.idtaxe }}</a></td>
                <td>{{ taxe.libelle }}</td>
                <td>{{ taxe.pourcentage }}</td>
                <td>{% if taxe.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('taxe_show', { 'idtaxe': taxe.idtaxe }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('taxe_edit', { 'idtaxe': taxe.idtaxe }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taxe_new') }}">Create a new taxe</a>
        </li>
    </ul>
{% endblock %}
