{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Taxe</h1>

    <table>
        <tbody>
            <tr>
                <th>Idtaxe</th>
                <td>{{ taxe.idtaxe }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ taxe.libelle }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ taxe.pourcentage }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if taxe.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taxe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('taxe_edit', { 'idtaxe': taxe.idtaxe }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
