{% extends 'baseClientTemplate.html.twig' %}

{% block body %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Mes Commandes</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for c in commandes %}
                            <tr>
                                <td class="cart_product_desc">
                                    <h5>{{ c.id }}</h5>
                                </td>
                                <td class="price">
                                    <span >{{c.etatlivraison}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}