<table border="2">
    <thead>
    <tr>
        <th>Id</th>
        <th>RaisonSociale</th>
        <th> NumTel</th>
        <th>Email</th>
        <th >Adresse</th>
        <th>Matricule-Fiscale</th>
        <th >Contact</th>
        <th >Active</th>

    </tr>
    </thead>

    <tbody>

    {% for need in news %}

        <tr>
            <td>{{need.idfournisseur}}</td>
            <td>{{need.raisonsociale}}</td>
            <td>{{need.numtel}}</td>
            <td>{{need.email}}</td>
            <td>{{need.adresse}}</td>
            <td>{{need.Matfiscale}}</td>
            <td>{{need.contact}}</td>
            <td>{{need.active}}</td>

        </tr>

    {% endfor %}

    <div class="no-print">
        <div class="event_more ">
            <a href="javascript:window.print()" class="btn_more">
                Imprimer
            </a>
        </div></div>

    </tbody>
</table>