{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Fournisseur </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('fournisseur_index') }}">Liste Fournisseur</a></li>
                        <li class="breadcrumb-item active">Details Fournisseur</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ fournisseur.idfournisseur }}</li>
                <li class="list-group-item"><strong>RaisonSociale:</strong> {{ fournisseur.raisonsociale}}</li>
                <li class="list-group-item"><strong>NumTel:</strong>{{  fournisseur.numtel }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ fournisseur.email }}</li>
                <li class="list-group-item"><strong>Adresse:</strong> {{ fournisseur.adresse }}</li>
                <li class="list-group-item"><strong>Matricule-Fiscale:</strong> {{ fournisseur.matfiscale }}</li>
                <li class="list-group-item"><strong>Contact:</strong> {{ fournisseur.contact }}</li>
                <li class="list-group-item"><strong>Active:</strong> {% if fournisseur.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('fournisseur_edit', { 'idfournisseur': fournisseur.idfournisseur }) }}";
        };
    </script>
{% endblock %}
