{% extends 'adminTemplate.html.twig' %}

{% block body %}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Liste Livreur</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace
                            Administrateur</a></li>
                    <li class="breadcrumb-item active"> Liste Livreur</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-12">

            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <a href="{{ path('livreur_new') }}">Create a new livreur</a>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                <th>Idlivreur</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Logo</th>
                <th>Adresse</th>
                <th>Numtel</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livreur in livreurs %}
            <tr>
                <td><a href="{{ path('livreur_show', { 'idlivreur': livreur.idlivreur }) }}">{{ livreur.idlivreur }}</a></td>
                <td>{{ livreur.nom }}</td>
                <td>{{ livreur.prenom }}</td>
                <td><img src="/Uploads/Images/{{ livreur.image }}" onerror="this.src='/Uploads/Images/noimage.jpg'" height="40" width="90"> </td>
                <td>{{ livreur.adresse }}</td>
                <td>{{ livreur.numtel }}</td>
                <td>{% if livreur.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="row">
                        <a  href="{{ path('livreur_show', { 'idlivreur': livreur.idlivreur }) }}"
                        ><i class="material-icons" data-toggle="tooltip"
                            title="Show">remove_red_eye</i></a>
                        <a style="  color: #FFC107;"
                           href="{{ path('livreur_edit', { 'idlivreur': livreur.idlivreur }) }}"
                        ><i class="material-icons"
                            data-toggle="tooltip" title="Edit">&#xE254;</i></a>



                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
                        <tfoot>
                        <tr>
                            <th>Idlivreur</th>
                            <th>Nom</th>
                            <th>Prenom</th>

                            <th>Adresse</th>
                            <th>Numtel</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

    {% block map %}
        <link href="{{ asset ('map/css/jqvmap.css') }}" media="screen" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="{{ asset ('map/js/jquery.vmap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset ('map/js/maps/jquery.vmap.tunisia.min.js') }}" type="text/javascript" charset="utf-8"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#jqvmap').vectorMap({
                    map: 'tn_regions_fr',
                    backgroundColor: '#7EA4D0',
                    borderColor: '#818181',
                    borderOpacity: 0.75,
                    borderWidth: 1,
                    color: '#f4f3f0',
                    enableZoom: true,
                    hoverColor: '#C9DFAF',
                    hoverOpacity: null,
                    normalizeFunction: 'linear',
                    scaleColors: ['#b6d6ff', '#005ace'],
                    selectedColor: '#C9DFAF',
                    selectedRegion: null,
                    showTooltip: true,
                    onRegionClick: function (element, code, region) {
                        var message = 'You clicked "'
                            + region
                            + '" which has the code: '
                            + code.toUpperCase();
                        var url = '{{ path('ville', { 'ville': 'region' }) }}';
                        url = url.replace("region", region);
                        window.open(url);
                    }
                });
            });
        </script>
    {% endblock %}


    <div id="jqvmap" style="width:1650px;height:400px;"></div>


{% endblock %}
