{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Livreur </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('livreur_index') }}">Liste Livreur</a></li>
                        <li class="breadcrumb-item active">New Livreur</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fromulaire de livreur </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        {{ form_start(form) }}


                        <div class="card-body">
                            <div class="form-group">


                                <label for="exampleInputEmail1">{{ form_label (form.nom) }}</label>
                                {{ form_widget(form.nom, {'attr' : {'class' : 'form-control',}}) }}

                            </div>

                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.prenom) }}</label>
                                {{ form_widget(form.prenom, {'attr' : {'class' : 'form-control'}}) }}

                            </div>

                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.image) }}</label>

                                <div class="custom-file">
                                    {{ form_widget(form.image, {'attr' : {'class' : 'custom-file-input','id':'exampleInputFile'}}) }}
                                    {#                                    <input type="file" class="custom-file-input" id="exampleInputFile">#}
                                    <label class="custom-file-label" for="exampleInputFile">Choose image (jpg)</label>
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.adresse) }}</label>
                                {{ form_widget(form.adresse, {'attr' : {'class' : 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">{{ form_label (form.numTel) }}</label>
                                {{ form_widget(form.numTel, {'attr' : {'class' : 'form-control'}}) }}

                            </div>





                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(form.active, {'attr' : {'class' : 'custom-control-input'}}) }}
                                    <input  checked  disabled type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                    <label class="custom-control-label" for="exampleCheck1">Active</label>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset  </button>
                                </div>

                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>


{% endblock %}
