{% extends 'adminTemplate.html.twig' %}

{% block body %}
    <h1>Livreur</h1>

    <table>
        <tbody>
            <tr>
                <th>Idlivreur</th>
                <td>{{ livreur.idlivreur }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livreur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ livreur.prenom }}</td>
            </tr>

            <tr>
                <th>Adresse</th>
                <td>{{ livreur.adresse }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ livreur.numtel }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ livreur.active }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livreur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('livreur_edit', { 'idlivreur': livreur.idlivreur }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
