{% extends 'adminTemplate.html.twig' %}

{% block body %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> Liste Review</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace
                                Administrateur</a></li>
                        <li class="breadcrumb-item active"> Liste REview</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{ nbreviews }}</h3>

                                    <p>Total Reviews</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-comments"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-gradient-primary">
                                <div class="inner">
                                    <h3>{{ lastreview }}</h3>

                                    <p>Reviews Last 30 Days</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-comments"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{ newreview }}</h3>

                                    <p>New Reviews</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-comments"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>IdReview</th>
                                <th>Description</th>
                                <th>Address</th>
                                <th>Date Review</th>
                                <th>Active</th>
                                <th width="50px" >Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in reviews %}
                                <tr>
                                    <td>
                                        <a href="{{ path('review_show', { 'idreview': review.idreview }) }}">{{ review.idreview }}</a>
                                    </td>
                                    <td>{{ review.description }}</td>
                                    <td>{{ review.address }}</td>
                                    <td>{% if review.datereview %}{{ review.datereview|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if review.active %}Yes{% else %}No{% endif %}</td>
                                    <td>
                                        <div class="row">
                                            <a  href="{{ path('review_show', { 'idreview': review.idreview }) }}"
                                            ><i class="material-icons" data-toggle="tooltip"
                                                title="Show">remove_red_eye</i></a>
                                            <a style="  color: #FFC107;"
                                               href="{{ path('review_edit', { 'idreview': review.idreview }) }}"
                                            ><i class="material-icons"
                                                data-toggle="tooltip" title="Edit">&#xE254;</i></a>



                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>IdReview</th>
                                <th>Description</th>
                                <th>Address</th>
                                <th>Date Review</th>
                                <th>Active</th>
                                <th width="50px" >Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}

{% block custom_import %}
    <script src="{{ asset ('back-office/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset ('back-office/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset ('back-office/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset ('back-office/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset ('back-office/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset ('back-office/dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>

{% endblock %}
