{% extends 'adminTemplate.html.twig' %}
{% block body %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Details Review </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('open_quantum_homepage') }}">Espace Administrateur</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('review_index') }}">Liste Review</a></li>
                        <li class="breadcrumb-item active">Details Review</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Id:</strong> {{ review.idreview }}</li>
                <li class="list-group-item"><strong>Description:</strong> {{ review.description}}</li>
                <li class="list-group-item"><strong>Address:</strong> {{ review.address}}</li>
                <li class="list-group-item"><strong>Article:</strong> {{ review.idarticle.designation }}</li>
                <li class="list-group-item"><strong>Date-Creation:</strong> {% if review.datereview %}{{ review.datereview|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item"><strong>Active:</strong> {% if review.active %}Yes{% else %}No{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="card-footer">
        <div class="row ">
            <button id="mybutton" type="button" class="btn btn-primary" >Modifier</button>

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger" >Supprimer</button>
            {{ form_end(delete_form) }}
            <button type="submit" class="btn btn-info" > <a href="{{ path('review_print', { 'idreview': review.idreview }) }}">Imprimer</a></button>

        </div>
    </div>
{% endblock %}


{% block custom_import %}#}
    <script>

        document.getElementById("mybutton").onclick = function () {
            location.href = "{{ path('review_edit', { 'idreview': review.idreview }) }}";
        };
    </script>
{% endblock %}