<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }
        mid {
            text-align: center;
            padding: 15px;

        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

<h1 align="center">REVIEW NUMBER: {{ review.idreview }}</h1>
<h4 align="justify">Printed on : {{ "now"|date("m/d/Y") }}</h4>
<h4 align="justify">Client mail : {{ review.idutilisateur.email }} </h4>
<h4 align="justify">Phone : {{ review.idutilisateur.numtel }} </h4>
<table>
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Client Address</th>
        <th>Date Creation</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{ review.idreview }}</td>
        <td>{{ review.idarticle.designation }}</td>
        <td>{{ review.address }}</td>
        <td>{% if review.datereview %}{{ review.datereview|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ review.description }}</td>
    </tr>
</table>
<h6 align="right">Copyright © 2020 by Open Quantum</h6>

</body>
</html>